.carousel{
    position: relative;

    .owl-stage-outer{
        overflow: hidden;
        width: 100%;
    }

    .owl-stage{
        position: relative;
        overflow: hidden;
    }

    .owl-item{
        float: left;
        user-select: none;
        position: relative;
    }
}