.character-small-intro{
    color: #5e5e5e;
    text-transform: uppercase;
    font-size: .87rem;
    font-family: $bold;
    margin: -8px 0 0 0;
}


.module-character-card{

    .card{
        margin-bottom: 61px;
    }

    .text{
        color: #a7a7a7;
        padding-top: 77px;

        @include brk($max: $xmd) {
            padding-top: 20px;
        };
    }
}

.character-data{
    font-size: .87rem;
    color: #a7a7a7;
    margin-bottom: 36px;
    
    a{
        color: #a7a7a7;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    .t{
        text-transform: uppercase;
        font-family: $bold;
        color: #fff;
        margin-bottom: 14px;
        padding-right: 15px;
    }

    ul{
        margin-bottom: 30px;
        padding-right: 15px;
        li{
            margin-bottom: 2px;
        }
    }
}

.related-items{
    .play-btn{
        transform:scale(0.6);
    }
}