@font-face {
    font-family: 'proxima_nova_bl';
    src: url('../fonts/proximanova-black-font.eot');
    src: url('../fonts/proximanova-black-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-black-font.woff2') format('woff2'),
         url('../fonts/proximanova-black-font.woff') format('woff'),
         url('../fonts/proximanova-black-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../fonts/proximanova-bold-font.eot');
    src: url('../fonts/proximanova-bold-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-font.woff2') format('woff2'),
         url('../fonts/proximanova-bold-font.woff') format('woff'),
         url('../fonts/proximanova-bold-font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_lt';
    src: url('../fonts/proximanova-light-font.eot');
    src: url('../fonts/proximanova-light-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-font.woff2') format('woff2'),
         url('../fonts/proximanova-light-font.woff') format('woff'),
         url('../fonts/proximanova-light-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rg';
    src: url('../fonts/proximanova-reg-font.eot');
    src: url('../fonts/proximanova-reg-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-reg-font.woff2') format('woff2'),
         url('../fonts/proximanova-reg-font.woff') format('woff'),
         url('../fonts/proximanova-reg-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}