body{
   background-color: $bg-color;
   background-repeat: no-repeat;
   background-position: center 27px;
   background-image: url('../images/bg_02@2x.jpg');
   background-size: 100%;
}

.symbols{
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
}


.custom-nav{
    position: absolute;
    width: 100%;
    height: 53px;
    background: #fff;
    z-index: 100;
    left: 0;
    top: 0;
}



#front-page{
    background-size: initial;
    background-image: url('../images/bg_01.jpg');
}



.ic_universe{
    svg{
        fill: $universe-color;
    }
}
.ic_movies{
    svg{
        fill: $movies-color;
    }
}
.ic_games{
    svg{
        fill: $games-color;
    }
}
.ic_rebels{
    svg{
        fill: $blue;
    }
}
.ic_video{
    svg{
        fill: $video-color;
    }
}
.ic_news{
    svg{
        fill: $yelow;
    }
}



.module{
    position: relative;
    margin-bottom: 67px;

    .top-module-row{
        @extend %clear;
        position: relative;

        &.empty{
            .inner{
              min-width: 240px;
              min-height: 29px;
            }
        }
    }

    &.module-carousel-has{
        .top-module-row{
            padding-right: 125px;
        }
    }

    .carousel-navigation{
        position: absolute;
        right: 0;
        top: -105px;

        .arrow{
            display: inline-block;
            vertical-align: top;
            width: 47px;
            height: 47px;
            position: relative;
            cursor: pointer;
            transition: all .2s ease;
            user-select:none;
            border-radius: 100%;
            border: 2px solid #000;
            margin: 30px 2px 0 6px;

            &:first-child{
                margin-left: 0;
            }

            &:hover{
                opacity: .5;
            }

            svg{
                width: 9px;
                height: 15px;
                fill: #fff;
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -7.5px 0 0 -4.5px;
            }

        }
    }

    .module-title{
        position: relative;
        margin-bottom: 24px;
        overflow: hidden;
        line-height: 1.3;

        .inner{
            position: relative;
            padding-bottom: 18px;
            padding-right: 38px;
            display: inline-block;
            vertical-align: top;
            
            &:before{
                display: block;
                content: '';
                width: 100%;
                height: 29px;
                border-bottom: 1px solid #353535;
                border-right: 1px solid #353535;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: skew(-45deg);
            }

            &:after{
                display: block;
                content: '';
                width: 1000%;
                height: 29px;
                position: absolute;
                bottom: 0;
                left: 100%;
                transform: skew(-45deg);
                border-top: 1px solid #353535;
            }
        }

        .title-text{
            @extend %bold;
            text-transform: uppercase;
            font-size: 1.75rem;

        }
    }

    .module-description{
        color: #686b6f;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(#000, .8);
        font-size: .87rem;
        font-family: $bold;
        margin: 5px -13px -9px 0;
    }
    
    .tab-buttons{
        margin: 0 -4px -17px -13px;
        padding-top: 17px;
    }


    .more-row{
        margin-top: 9px;
        margin-bottom: 20px;

        a{
            display: inline-block;
            vertical-align: top;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.87rem;
            color: #fff;
            position: relative;
            padding-bottom: 1px;

            &:before{
                display: block;
                content: '';
                width: 100%;
                height: 2px;
                background: transparent;
                box-shadow: 0 1px 0 rgba(#000, .3);
                position: absolute;
                left: 0;
                bottom: 0;
                transition: all .2s ease;
            }

            &:hover{
                &:before{
                    opacity: .3;
                }
            }
        }
    }


    &.universe-items{
        .more-row{
            a{
                &:before{
                    background: $universe-color;
                }
            }
        }
    }
    &.groups-items, &.module-movies-carousel{
        .more-row{
            a{
                &:before{
                    background: $orange;
                }
            }
        }
    }
    &.tehnology-items, &.module-games-carousel{
        .more-row{
            a{
                &:before{
                    background: $green;
                }
            }
        }
    }
    &.articles-list{
        .more-row{
            margin: 31px 0 0 -3px;
            @include brk($max: $md) {
                margin-left: 0;
            };
            a{
                &:before{
                    background: $yelow;
                }
            }
        }
    }
    &.online-items{
        margin-bottom: 66px;

        .top-module-row{
            margin-bottom: 0;
        }

        .more-row{
            margin-top: 7px;
            a{
                &:before{
                    background: $light-blue;
                }
            }
        }
    }
    &.four-games-items{

        .top-module-row{
            margin-bottom: 13px;
        }

        .more-row{
            margin-top: 23px;

            a{
                &:before{
                    background: $orange;
                }
            }
        }

        .item-desc{
            line-height: 1.2;
            padding: 11px 0 0 0;
        }
    }
    &.video-games-items{

        .more-row{
            a{
                &:before{
                    background: $green;
                }
            }
        }

    }

}

.tab-buttons{
    position: relative;
    z-index: 2;

    .tab-button{
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        font-size: .87rem;
        border: 1px solid transparent;
        padding: 6px 10px 5px;
        border-radius: 3px;
        line-height: 1.1;
        margin: 0 0 13px 13px;
        transition: all .2s ease;
        cursor: pointer;
        user-select:none;
        color: rgba(#fff, .3);
        text-decoration: none;

        &.active, &:hover{
            border-color: $light-blue;
            color: #fff;

            #video-page & {
                border-color: $video-color;
            }
            #news-page & {
                border-color: $yelow;
            }
        }
    }

    &.has-mobile-resolution{

        .btns{

            @include brk($max: $xmd) {
                display: none;
            };

        }

        .mobile-label{
            display: inline-block;
            vertical-align: top;
            text-transform: uppercase;
            font-size: .87rem;
            margin: 6px 0 19px 13px;
            position: relative;
            padding: 0 16px 0 0;
            color: #fff;
            user-select:none;
            cursor: pointer;


            @include brk($min: $xmd) {
                display: none;
            };

            &:before{
                display: block;
                content: '';
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-width: 5px 4px;
                border-top-color: #fff;
                position: absolute;
                right: 0;
                top: 6px;
            }
        }
    }
}


.mobile-btn-list{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $bg-color;
    z-index: 100;
    display: none;

    &.show{
        display: block;
    }

    .inner{
        position: relative;
    }

    @include brk($min: $xmd) {
        display: none;
    };

    .tab-buttons{
        padding: 50px;

        .tab-button{
            display: block;
            margin: 0 0 20px;
            padding: 20px;
        }
    }
}


.carousel-wrapper{
    position: relative;
}



.universe-items{
    .carousel-navigation{
        .arrow{
            border-color: $universe-color;
        }
    }
}

.movies-items{
    margin-bottom: 75px;
    .carousel-navigation{
        .arrow{
            border-color: $movies-color;
        }
    }

    .tab-buttons{
        .tab-button{
            &:hover, &.active{
                border-color: $movies-color;
            }
        }
    }

}

.games-items{
    margin-bottom: 58px;

    .carousel-navigation{
        .arrow{
            border-color: $games-color;
        }
    }

    .items-carousel.caption-outside .item-desc{
        padding-top: 11px;
    }
    
    .tab-buttons{
        .tab-button{
            &:hover, &.active{
                border-color: $games-color;
            }
        }
    }

}

.module-advertising-platform{
    margin-bottom: 56px;

    @include brk($max: $md) {
        display: none;
    };

    .advertising-items{
      padding: 20px 0 0;
      max-width: 955px;
      margin: 0 auto; 
    }
}

.share{

    .t{
        margin-bottom: 17px;
    }

    svg{
        fill: #fff;
        transition: fill .2s ease;
    }

    .share-link{
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;

        &:first-child{
            margin-left: 0;
        }

        &:hover{
            svg{
                fill: $yelow;
            }
        }
    }

    .link-instagramm{
        svg{
            width: 19px;
            height: 19px;
        }
    }
    .link-twitter{
        svg{
            width: 22px;
            height: 18px;
        }
    }
    .link-facebook{
        svg{
            width: 18px;
            height: 19px;
        }
    }
    .link-odnoklassniki{
        svg{
            width: 10px;
            height: 17px;
        }
    }
}


.page-title{
    @extend %clear;
    position: relative;
    margin: 29px 0 59px 0;

    #character-page & {
        margin-bottom: 33px;
    }

    #game-single-page & {
        margin-bottom: 33px;
    }

    .wrap{
        overflow: hidden;

        .tab-buttons{
            margin-left: -12px;
        }
    }

    .cnt-share{
        margin: 9px 10px 0 0;
        float: right;

        @include brk($max: $xmd) {
            float: none;
            margin: 9px 10px;
        };
    }

    .date{
        color: $yelow;
        font-size: .87rem;
        margin: -5px 0 0 0;
    }

    .game-caption{
        color: #646f75;
        text-transform: uppercase;
        margin: -5px 0 0 0;
        font-size: .87rem;
    }

    .icon{
        float: left;
        display: block;
        margin: 6px 10px 0 2px;
    }

    .ic_universe{
        svg{
            width: 43px;
            height: 43px;
        }
    }
    .ic_movies{
        margin-top: -3px;
        svg{
            width: 49px;
            height: 51px;
        }
    }
    .ic_games{
        margin-top: 9px;
        svg{
              width: 56px;
              height: 35px;
        }
    }
    .ic_video{
        margin: 9px 14px 0 0px;

        svg{
              width: 50px;
              height: 36px;
        }
    }
    .ic_news{
        margin: 9px 8px  0 0px;

        svg{
            width: 55px;
            height: 50px;
        }
    }
}


.tags{
    a{
        text-decoration: none;
        color: $yelow;
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        font-size: .72rem;

        &:hover{
            text-decoration: underline;
        }
    }

    span{
        display: inline-block;
        vertical-align: top;
        width: 1px;
        height: 15px;
        background: #333;
        margin: 3px 12px;
    }
}


@keyframes rotateCircle {
  0%   {transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}


.play-btn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 96px;
    height: 96px;
    margin: -48px 0 0 -48px;
    z-index: 2;

    .circle{
        position: relative;
        transition: all .3s ease;
        width: 96px;
        height: 96px;
        fill: $yelow;
        position: absolute;
        left: 0;
        top: 0;
        backface-visibility: hidden;
        transform: scale(.9);
    }

    .triangle{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 27px;
        height: 39px;
        margin: -18px 0 0 -7px;
        fill: #fff;
    }

    &:after{
        display: block;
        content: '';
        width: 90px;
        height: 90px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -44px 0 0 -44px;
        border: 2px solid $yelow;
        border-radius: 100%;
    }

    &:hover{
        .circle{
            animation:  rotateCircle 1s infinite;
        }  
    }
}


.thumbnail{
    &:hover{
        .play-btn{
            .circle{
                animation:  rotateCircle 1s infinite;
            } 
        } 
    }
}

.cnt-share{
    .link{
        display: inline-block;
        width: 38px;
        height: 38px;
        border: 1px solid $yelow;
        border-radius: 100%;
        position: relative;
        margin: 0 0 0 7px;
        border-radius: 100%;

        &:first-child{
            margin-left: 0;
        }

        &:hover{
           svg{
                fill: $yelow;
           }
        }

        svg{
            fill: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transition: all .2s ease;
        }

        &.fb{
            svg{
                width: 9px;
                height: 16px;
                margin: -8px 0 0 -4.5px;
            }
        }
        &.tw{
            svg{
                width: 20px;
                height: 16px;
                margin: -7px 0 0 -9px;
            }
        }
        &.gl{
            svg{
                width: 16px;
                height: 17px;
                margin: -8px 0 0 -8px;
            }
        }
    }
}



.video-f-items{

    .items-list{
        .item{
            margin-bottom: 30px;
        }        
    }


    .item-desc{
        padding: 9px 0 0 0;
    }

    .d{
        font-family: $bold;
        margin: 0 0 2px;
        line-height: 1.2;
    }

    .date{
        line-height: 1.2;
        color: #696969;
        font-family: $bold;
        margin: 0 0 6px 0;
    }
}

.thumbnail{
    a{
        display: block;
        position: relative;
        transition: all .2s ease;
        backface-visibility: hidden;

        img{
            width: 100%;
        }

        // &:after{
        //     width: 100%;
        //     height: 100%;
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     background: rgba(#000, .2);
        //     z-index: 2;
        //     transform: scale(0);
        //     transition: all .2s ease;
        // }

        &:hover{
           opacity: .8;  
        }
    }
}

.more-load-row{
    text-align: center;
    overflow: hidden;
    padding: 57px 0 10px 0;

    .center-wrap{
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 165px;

        &:before, &:after{
            display: block;
            content: '';
            width: 1920px;
            height: 1px;
            background: #333;
            top: 50%;
            margin-top: -1px;
            position: absolute;
        }

        &:after{
            left: 100%;
        }

        &:before{
            right: 100%;
        }
    }


    .more-load{

        @extend %btn;
        color: #fff;
        border: 1px solid $yelow;
        padding: 5px 10px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: .87rem;
        transition: all .2s ease;

        &:before{
            display: block;
            content: '';
            width: 40px;
            height: 1px;
            background: $yelow;
            position: absolute;
            bottom: -4px;
            right: 19px;
            transition: all .2s ease;
        }

        .line{
            width: 38px;
            height: 5px;
            position: absolute;
            left: -4px;
            top: -4px;
            fill: $yelow;
            transition: all .2s ease;
        }

        &:hover{
            border-color: rgba($yelow, .5);
            &:before, .line{
                opacity: .5;
            }
        }
    }
}

.mhc{
    position: absolute;
    margin: 0 !important;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 30;
}

.sw-logo{
    @include bg('sw_movielogo', 'png', 100%, 100%);
    display: block;
    width: 298px;
    height: 105px;
}

.js-tabs{
    position: relative;

    .panels{
        position: relative;
    }

    .panel{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0;
        z-index: 0;

        &.active{
            opacity: 1;
            position: relative;
            z-index: 10;
        }
    }
}

.news-detail{
    .thumbnail{
        max-width: 450px;

        @include brk($max: $xmd) {
            max-width: 100%;
        };
    }

    .data{
        color: #bdbdbb;
        p{
            margin: 0 0 1.5rem;
        }

        @include brk($max: $xmd) {
            padding-top: 30px;
        };

    }

    .caption{
        color: #bdbdbb;
        padding: 5px 0;
    }
}



.error-no-support{
    display: none;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 50px 0;
    margin-bottom: 20px;

    .inner{
        margin: 0 auto;
        max-width: 465px;

    }

    .device{
        width: 161px;
        height: 94px;
        margin: 30px 0;
        fill: $yelow;
    }

}

.no-flash &{

    .flash-error{
        display: block;
    }

}

.single-game{
    margin-bottom: 45px;

    .area{
        position: relative;
        height: 0;
        padding-bottom: 50%;
        display: block;

        & > *{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .no-flash & {
            display: none;
        }
    }

}