.global{
    max-width: 100%;
    overflow: hidden;
}

.container{
    @extend %clear;
    max-width: $lg + $gutter;
    padding-left: $gutter/2;
    padding-right: $gutter/2;
    margin: 0 auto;
}

.row{
    @extend %clear;
    margin-left: -($gutter/2);
    margin-right: -($gutter/2);
}

[class*="col-"]{
    @extend %clear;
    min-height: 1px;
    padding-left: $gutter/2;
    padding-right: $gutter/2;  
}


@include brk($min: $xsm) {
    
    [class*="col-xsm"]{
        float: left; 
    }  

    @for $i from 1 through $cols {
        .col-xsm-#{$i}{
            width: (100%/$cols) * $i;
        }       
    }   

};

@include brk($min: $sm) {
    
    [class*="col-sm"]{
        float: left; 
    }  

    @for $i from 1 through $cols {
        .col-sm-#{$i}{
            width: (100%/$cols) * $i;
        }       
    }   

};


@include brk($min: $xmd) {
    
    [class*="col-xmd"]{
        float: left; 
    }  

    @for $i from 1 through $cols {
        .col-xmd-#{$i}{
            width: (100%/$cols) * $i;
        }       
    }   

};

@include brk($min: $md) {
    
    [class*="col-md"]{
        float: left; 
    }  

    @for $i from 1 through $cols {
        .col-md-#{$i}{
            width: (100%/$cols) * $i;
        }       
    }   

};


@include brk($min: $lg) {
    
    [class*="col-lg"]{
        float: left; 
    }  

    @for $i from 1 through $cols {
        .col-lg-#{$i}{
            width: (100%/$cols) * $i;
        }       
    }   

};


.lg-hide, .md-hide, .xmd-hide, .sm-hide, .xsm-hide{
    display: none;
}

@include brk($min: $lg) {
    .lg-hide{
        display: block;
    }
};
@include brk($min: $md) {
    .md-hide{
        display: block;
    }
};
@include brk($min: $xmd) {
    .xmd-hide{
        display: block;
    }
};
@include brk($min: $sm) {
    .sm-hide{
        display: block;
    }
};
@include brk($min: $xsm) {
    .xsm-hide{
        display: block;
    }
};