.items-list{
    font-size: 0;
    margin-left: -12px;
    
    .item{
        display: inline-block;
        vertical-align: top;
        padding-left: 12px;
        margin-bottom: 12px;
    }

    .item-part{
        position: relative;
    }

    .item-desc{
        font-size: .87rem;
    }

    &.grid-four-items{
        .item{
            width: 25%;

            @include brk($max: $md) {
                width: 33.333%;
            };

            @include brk($max: $xmd) {
                width: 50%;
            };
            @include brk($max: $sm) {
                width: 100%;
            };
        }
    }
    &.grid-2-items{
        .item{
            width: 50%;
        
            @include brk($max: $sm) {
                width: 100%;
            };
        }
    }
    &.grid-3-items{
        .item{
            width: 33.333%;

            @include brk($max: $xmd) {
                width: 50%;
            };
            @include brk($max: $sm) {
                width: 100%;
            };            
        }
    }

}

.caption-inside{
    .item-desc{
        position: absolute;
        left: 12px;
        bottom: 9px;
        font-size: .87rem;
        line-height: 1.2;
        z-index: 3;
        
        .t{
            text-transform: uppercase;
            font-family:  $bold;
        }

    }

    .thumbnail{
        a{
            display: block;
            position: relative;

            &:before{
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, .5));
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}
.caption-outside{
    .item-desc{
        position: relative;
        padding: 20px 0 0 0;
    }
}