.articles-list{

    .thumbnail{
        
        margin: 0 auto;
        padding-right: 10px;

        @include brk($max: $md) {
           max-width: 100%;
           margin-bottom: 20px;
           padding: 0;
        };

    }

    .top-data, .date{
        text-transform: uppercase;
        color: $yelow;
        font-size: .87rem;
        margin: 3px 0 4px -6px;

        @include brk($max: $md) {
           margin-left: 0;
        };

    }

    .date{
        text-transform: none;
    }

    .title{
        text-transform: uppercase;
        font-family: $black;
        font-size: 1.75rem;
        margin: 0 0 0 -5px;
        @include brk($max: $md) {
           margin-left: 0;
        };

    }

    .text{
        margin: 26px 0 0 -5px;
        color: #bababa;

        @include brk($max: $sm) {
            display: none;
        };
    }

    .item{
        border-top: 1px solid #4c4c4c;
        padding-top: 76px;
        margin-bottom: 70px;

        @include brk($max: $sm) {
           border: none;
           padding-top: 0;
           margin-bottom: 50px;
        };


        &:first-child{
            padding-top: 0;
            margin-bottom: 40px;
            border-top: none;
        }
    }

    
    &.module-full-movies-list{

        .thumbnail{
           padding: 0;
           margin-top: 7px;
           max-width: 246px;
        }

    }    

}

