.module-single-video{
    margin: -26px 0 27px 0;

    .video-area{
        position: relative;
        overflow: hidden;
        height: 0;
        padding-bottom: 40%;
        margin-bottom: 17px;

        img, object, iframe{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }

    .b-data{
        @extend %clear;

        .cnt-share{
            margin: 1px 1px 0 0;
            text-align: right;

        }
    }

    .data{
        margin: 0 0 0 0;
        .date{
            color: #ebed11;
            font-size: .87rem;
            margin-bottom: 2px;
        }

        .title{
            margin-bottom: 3px;
        }

        .caption{
            color: #bbbbbb;
            margin-bottom: 4px;
        }
    }
}