html{
	font-size: $root-font-size;
}

body{
	font-size: 1rem;
	font-family: $root-font-family;
	color: $root-font-color;
	line-height: $line-height;
}

a{
	color: #fff;
	text-decoration: underline;
	outline: none;

	&:hover{
		text-decoration: none;
	}

	&:focus{
		outline: none;
	}
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1, h2, h3{
 	font-family: $black;
 	font-weight: normal;
 	margin: 0;
 	line-height: 1.2;
}

h1{
	font-size: 3rem;
	text-transform: uppercase;
}

h2{
	text-transform: uppercase;
	font-size: 1.8rem;
}


%black{
	font-family: $black;
}
%bold{
	font-family: $bold;
}
%normal{
	font-family: $normal;
}
%light{
	font-family: $light;
}