.fixed{
	position: fixed !important;
}

.img-responsive{
	display: block;
	max-width: 100%;

	&.inline{
		display: inline-block;
		vertical-align: top;
	}
	&.full-width{
		width: 100%;
	}
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.fixed{
	position: fixed;
}

%clear{

	&:after{
		display: table;
		content: '';
		width: 100%;
		clear: both;
	}
}

%btn{
	background: none;
	position: relative;
	overflow: visible;
	padding: 0;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	border: none;
	text-decoration: none;
}

.hide{
	display: none;
}

.show{
	display: block;
}