// Typo
$black: 'proxima_nova_bl';
$bold: 'proxima_nova_bold';
$normal: 'proxima_nova_rg';
$light: 'proxima_nova_lt';

$root-font-family: $normal;
$root-font-size: 16px;
$root-font-color: #fff;
$line-height: 138%;


// Grid
$gutter: 20px;
$cols: 12;

$lg: 1024px;
$md: 980px;
$xmd: 768px;
$sm: 480px;
$xsm: 320px;



// Colors
$bg-color: #1a1a1a;

$yelow: #ebed11;
$light-blue: #1e91ea;
$orange: #e65121;
$green: #419b5b;
$blue: #358a8e;
$purple: #9e59da;
$gray: #2a2a2a;

$universe-color: $light-blue;
$games-color: $green;
$movies-color: $orange;
$video-color: $purple;