.module.module-advertising-platform
    .container
        .top-module-row.empty
            .module-title
                .inner
        .advertising-items
            .row
                .col-md-4.col-sm-6.text-center
                    img(src="assets/adv.jpg", alt="", class="img-responsive inline")
                .col-md-4.col-sm-6.sm-hide.text-center
                    img(src="assets/adv.jpg", alt="", class="img-responsive inline")
                .col-md-4.md-hide.text-center
                    img(src="assets/adv.jpg", alt="", class="img-responsive inline")