.container
    .main-slider-wrapper
        .main-slider#main-slider
            a(href="#1").item
                img(src="assets/slide-1.jpg", alt="", class="img-responsive")
                span.sw-logo.right     
                span.more-row.text-right
                    span.more Узнать больше
            a(href="#2").item
                img(src="assets/slide-2.jpg", alt="", class="img-responsive")
                span.sw-logo   
                span.more-row
                    span.more Узнать больше
            a(href="#3").item
                img(src="assets/slide-3.jpg", alt="", class="img-responsive")
                span.more-row.text-center
                    span.more Узнать больше