.module-single-video
    .container
        .video-area
            .play-btn
                svg(class="circle")
                    use(xlink:href="#play-circle")
                svg(class="triangle")
                    use(xlink:href="#play-triangle")
            img(src="assets/video-1.jpg", alt="")
        .b-data
            .row
                .col-md-10
                    .data
                        .date 18 Апреля 2015
                        .title
                            h2 Звездные войны: пробуждение силы - трейлер 2
                        .caption Episode VII in the Star Sags, Star Wars: The Force Awakens, opens in theater
                        .tags
                            a(href="#") Звездолеты
                            span
                            a(href="#") Оружие
                            span
                            a(href="#") Трейлеры
                .col-md-2
                    .cnt-share
                        a.link.fb(href="#")
                            svg(class="triangle")
                                use(xlink:href="#fb-letter")
                        a.link.tw(href="#")
                            svg(class="triangle")
                                use(xlink:href="#twitter")