.module.articles-list.module-full-movies-list
    .container
        .item
            .row
                .col-sm-5
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/phantom-menace.jpg", alt="", class="img-responsive inline")
                .col-sm-7
                    .top-data Эпизод 1
                    .title Скрытая угроза
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. 
                    .more-row
                        a(href="#") Подробнее

        .item
            .row
                .col-sm-5
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/attack.jpg", alt="", class="img-responsive inline")
                .col-sm-7
                    .top-data Эпизод 1
                    .title Скрытая угроза
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                    .more-row
                        a(href="#") Подробнее
        
        .item
            .row
                .col-sm-5
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/revenge.jpg", alt="", class="img-responsive inline")
                .col-sm-7
                    .top-data Эпизод 1
                    .title Скрытая угроза
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                    .more-row
                        a(href="#") Подробнее

        .item
            .row
                .col-sm-5
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/hope.jpg", alt="", class="img-responsive inline")
                .col-sm-7
                    .top-data Эпизод 1
                    .title Скрытая угроза
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                    .more-row
                        a(href="#") Подробнее
        .item
            .row
                .col-sm-5
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/return.jpg", alt="", class="img-responsive inline")
                .col-sm-7
                    .top-data Эпизод 1
                    .title Скрытая угроза
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                    .more-row
                        a(href="#") Подробнее
        .item
            .row
                .col-sm-5
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/strikes-back.jpg", alt="", class="img-responsive inline")
                .col-sm-7
                    .top-data Эпизод 1
                    .title Скрытая угроза
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                    .more-row
                        a(href="#") Подробнее                            