.module.games-items.online-items
    .container
        .top-module-row
            .module-title
                .inner
                    .title-text Онлайн игры
        .items-list.grid-2-items.caption-inside
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_onlinegame01.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Скорость и драйв
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_onlinegame02.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Скорость и драйв
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_onlinegame03.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Скорость и драйв
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_onlinegame04.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Скорость и драйв
        .more-row
            a(href="#") Все Онлайн игры
