.module.module-carousel-has.module-universe-carousel.universe-items.js-tabs
    .container
        .top-module-row
            .module-title
                .inner
                    .title-text Вселенная
                    .tab-buttons.has-mobile-resolution
                        .mobile-label(data-list-target="universe")
                        .btns
                            span(data-target="1").tab-button.active Персонажи
                            span(data-target="2").tab-button Группы
                            span(data-target="3").tab-button Технологии
                            span(data-target="4").tab-button Локации
        .panels
            .panel.active(data-panel="1")
                .carousel-wrapper
                    .carousel-navigation
                        span.arrow.arrow-prev(data-direction="prev")
                            svg
                                use(xlink:href="#ic_arrow-left")
                        span.arrow.arrow-next(data-direction="next")
                            svg
                                use(xlink:href="#ic_arrow-right")
                    .carousel.items-carousel.caption-inside(data-plugin-options='{"items":4, "loop": true, "nav":false, "margin": 12, "mouseDrag": true}', data-responsive='{"0":1, "340": 1, "478": 2, "768": 3, "992": 3, "1024": 4}')
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_yoda.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_rd2d.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/luc.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_c3po.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_padme.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_solo.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_chewbaka.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_vader.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                    .more-row
                        a(href="#") Все персонажи
            .panel(data-panel="2")
                .carousel-wrapper
                    .carousel-navigation
                        span.arrow.arrow-prev(data-direction="prev")
                            svg
                                use(xlink:href="#ic_arrow-left")
                        span.arrow.arrow-next(data-direction="next")
                            svg
                                use(xlink:href="#ic_arrow-right")
                    .carousel.items-carousel.caption-inside(data-plugin-options='{"items":4, "loop": true, "nav":false, "margin": 12, "mouseDrag": true}', data-responsive='{"0":1, "340": 1, "478": 2, "768": 3, "992": 3, "1024": 4}')
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/luc.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_rd2d.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_yoda.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_c3po.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_padme.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_solo.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_chewbaka.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_vader.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                    .more-row
                        a(href="#") Все группы
            .panel(data-panel="3")
                .carousel-wrapper
                    .carousel-navigation
                        span.arrow.arrow-prev(data-direction="prev")
                            svg
                                use(xlink:href="#ic_arrow-left")
                        span.arrow.arrow-next(data-direction="next")
                            svg
                                use(xlink:href="#ic_arrow-right")
                    .carousel.items-carousel.caption-inside(data-plugin-options='{"items":4, "loop": true, "nav":false, "margin": 12, "mouseDrag": true}', data-responsive='{"0":1, "340": 1, "478": 2, "768": 3, "992": 3, "1024": 4}')
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_yoda.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_rd2d.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/luc.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_c3po.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_padme.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_solo.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_chewbaka.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_vader.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                    .more-row
                        a(href="#") Все технологии
            .panel(data-panel="4")
                .carousel-wrapper
                    .carousel-navigation
                        span.arrow.arrow-prev(data-direction="prev")
                            svg
                                use(xlink:href="#ic_arrow-left")
                        span.arrow.arrow-next(data-direction="next")
                            svg
                                use(xlink:href="#ic_arrow-right")
                    .carousel.items-carousel.caption-inside(data-plugin-options='{"items":4, "loop": true, "nav":false, "margin": 12, "mouseDrag": true}', data-responsive='{"0":1, "340": 1, "478": 2, "768": 3, "992": 3, "1024": 4}')
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_yoda.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_rd2d.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/luc.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_c3po.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_padme.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_solo.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                        .item
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_chewbaka.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                            .item-part
                                figure.thumbnail
                                    a(href="#")
                                        img(src="assets/img_vader.jpg", alt="", class="img-responsive")
                                .item-desc
                                    .t Люк Скайуокер
                                    .d Последний из джедаев
                    .more-row
                        a(href="#") Все локации
.mobile-btn-list(data-list="universe")
    .inner
        .toggle-nav
            .close
                span
                    svg
                        use(xlink:href="#close")
        ul.tab-buttons.list
            li(data-target="1").tab-button Персонажи
            li(data-target="2").tab-button Группы
            li(data-target="3").tab-button Технологии
            li(data-target="4").tab-button Локации
