.module.articles-list
    .container
        .item
            .row
                .col-xmd-6
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/news1.jpg", alt="", class="img-responsive inline")
                .col-xmd-6
                    .date 17 Апреля 2015
                    .title Название новости
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. 
                    .more-row
                        a(href="#") Подробнее

        .item
            .row
                .col-xmd-6
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/news1.jpg", alt="", class="img-responsive inline")
                .col-xmd-6
                    .date 17 Апреля 2015
                    .title Название новости
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                    .more-row
                        a(href="#") Подробнее
        
        .item
            .row
                .col-xmd-6
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/news1.jpg", alt="", class="img-responsive inline")
                .col-xmd-6
                    .date 17 Апреля 2015
                    .title Название новости
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                    .more-row
                        a(href="#") Подробнее

        .item
            .row
                .col-xmd-6
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/news1.jpg", alt="", class="img-responsive inline")
                .col-xmd-6
                    .date 17 Апреля 2015
                    .title Название новости
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                    .more-row
                        a(href="#") Подробнее
        .item
            .row
                .col-xmd-6
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/news1.jpg", alt="", class="img-responsive inline")
                .col-xmd-6
                    .date 17 Апреля 2015
                    .title Название новости
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                    .more-row
                        a(href="#") Подробнее
        .item
            .row
                .col-xmd-6
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/news1.jpg", alt="", class="img-responsive inline")
                .col-xmd-6
                    .date 17 Апреля 2015
                    .title Название новости
                    .text
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                    .more-row
                        a(href="#") Подробнее   
        .more-load-row
            .center-wrap
                button.more-load Загрузить еще
                    svg(class="line")
                        use(xlink:href="#line-curve")                         