.module.groups-items
    .container
        .top-module-row
            .module-title
                .inner
                    .title-text Группы
                    .module-description Ордены, секты, армии и рассы
        .items-list.grid-2-items.caption-inside
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_group01.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Черное солнце
                        .d Галактические ганстеры
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_group02.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Черное солнце
                        .d Галактические ганстеры
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_group03.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Черное солнце
                        .d Галактические ганстеры
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_group04.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Черное солнце
                        .d Галактические ганстеры
        .more-row
            a(href="#") Все группы
