.module.games-items.four-games-items
    .container
        .top-module-row
            .module-title
                .inner
                    .title-text Мобильные игры
        .items-list.grid-four-items.caption-outside
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_mobgame01.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t 
                            | Звездные войны:
                            br
                            | Штурмовой отряд
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_mobgame02.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t 
                            | Звездные войны:
                            br
                            | Штурмовой отряд
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_mobgame03.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t 
                            | Звездные войны:
                            br
                            | Штурмовой отряд
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_mobgame04.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t 
                            | Звездные войны:
                            br
                            | Штурмовой отряд
        .more-row
            a(href="#") Все мобильные игры
