.module.module-carousel-has.module-games-carousel.games-items.js-tabs
    .container
        .top-module-row
            .module-title
                .inner
                    .title-text Игры
                    .tab-buttons.has-mobile-resolution
                        .mobile-label(data-list-target="games")
                        .btns
                            span(data-target="1").tab-button.active Онлайн
                            span(data-target="2").tab-button Мобильные
                            span(data-target="3").tab-button Видеоигры
        .panels
            .panel.active(data-panel="1")
                .carousel-wrapper
                    .carousel-navigation
                        span.arrow.arrow-prev(data-direction="prev")
                            svg
                                use(xlink:href="#ic_arrow-left")
                        span.arrow.arrow-next(data-direction="next")
                            svg
                                use(xlink:href="#ic_arrow-right")
                    .carousel.items-carousel.caption-outside(data-plugin-options='{"items":4, "loop": true, "nav":false, "margin": 12, "mouseDrag": true}', data-responsive='{"0":1, "340": 1, "478": 2, "768": 3, "992": 3, "1024": 4}')
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game01.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game02.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game03.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game04.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                    .more-row
                        a(href="#") Все онлайн игры
            .panel(data-panel="2")
                .carousel-wrapper
                    .carousel-navigation
                        span.arrow.arrow-prev(data-direction="prev")
                            svg
                                use(xlink:href="#ic_arrow-left")
                        span.arrow.arrow-next(data-direction="next")
                            svg
                                use(xlink:href="#ic_arrow-right")
                    .carousel.items-carousel.caption-outside(data-plugin-options='{"items":4, "loop": true, "nav":false, "margin": 12, "mouseDrag": true}', data-responsive='{"0":1, "340": 1, "478": 2, "768": 3, "992": 3, "1024": 4}')
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game02.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game01.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game03.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game04.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                    .more-row
                        a(href="#") Все мобильные игры
            .panel(data-panel="3")
                .carousel-wrapper
                    .carousel-navigation
                        span.arrow.arrow-prev(data-direction="prev")
                            svg
                                use(xlink:href="#ic_arrow-left")
                        span.arrow.arrow-next(data-direction="next")
                            svg
                                use(xlink:href="#ic_arrow-right")
                    .carousel.items-carousel.caption-outside(data-plugin-options='{"items":4, "loop": true, "nav":false, "margin": 12, "mouseDrag": true}', data-responsive='{"0":1, "340": 1, "478": 2, "768": 3, "992": 3, "1024": 4}')
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game03.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game02.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game01.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                        .item
                            figure.thumbnail
                                a(href="#")
                                    img(src="assets/img_game04.jpg", alt="", class="img-responsive")
                            .item-desc
                                .d 
                                | Войны клонов:
                                br
                                | Герои республики
                    .more-row
                        a(href="#") Все видеоигры
.mobile-btn-list(data-list="games")
    .inner
        .toggle-nav
            .close
                span
                    svg
                        use(xlink:href="#close")
        ul.tab-buttons.list
            li(data-target="1").tab-button Онлайн
            li(data-target="2").tab-button Мобильные
            li(data-target="3").tab-button Видеоигры