.module-character-card
    .container
        .card
            .row
                .col-xmd-6
                    figure.image.text-center
                        img(src="assets/character.jpg", alt="", class="img-responsive inline")
                .col-md-4.col-xmd-6
                    .text Гранд-мастер Совета джедаев Йода обучал джедаев более 800 лет. Он мудр и опытен, хотя многие недооценивают его из-за малых размеров. Йода предпочитает наблюдать и размышлять, много времени он посвящает постижению глубин Силы. За свою долгую жизнь он видел закат Галактический Республики и превращение Ордена джедаев из миротворцев в боевых генералов Войн клонов. Если приходится, Йода сам берется за световой меч — и мало кто способен уследить за его стремительными отточенными движениями. Йода — строгий наставник, но не лишен своеобразного чувства юмора. После возникновения Империи он жил в уединении, ожидая появления джедая-ученика.
        .character-data
            .row
                .col-md-2.col-sm-4.col-xsm-6
                    .t Появления
                    ul
                        li
                            a(href="#", target="_blank") Эпизод I
                        li
                            a(href="#", target="_blank") Эпизод II
                        li
                            a(href="#", target="_blank") Войны клонов
                        li
                            a(href="#", target="_blank") Эпизод III
                        li
                            a(href="#", target="_blank") Эпизод V
                        li
                            a(href="#", target="_blank") Эпизод VI
                .col-md-2.col-sm-4.col-xsm-6
                    .t Раса
                    ul
                        li Неизвестна
                .col-md-2.col-sm-4.col-xsm-6
                    .t Пол
                    ul
                        li Мужской
                .col-md-2.col-sm-4.col-xsm-6
                    .t Рост
                    ul
                        li 0,66 м
                .col-md-2.col-sm-4.col-xsm-6
                    .t Оружие
                    ul
                        li Световой меч
                .col-md-2.col-sm-4.col-xsm-6
                    .t Связи
                    ul
                        li Джедаи