.module.tehnology-items
    .container
        .top-module-row
            .module-title
                .inner
                    .title-text технологии
                    .module-description На что пологается галактика!
        .items-list.grid-four-items.caption-inside
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_tech01.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Сокол тасячелетия
                        .d Самая быстрая куча мусора в Галактике
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_tech02.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Истебитель X-WING
                        .d Истребитель альянса повстанцев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_tech03.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Истебитель X-WING
                        .d Истребитель альянса повстанцев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_tech04.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Истебитель X-WING
                        .d Истребитель альянса повстанцев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_tech05.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Истебитель X-WING
                        .d Истребитель альянса повстанцев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_tech06.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Истебитель X-WING
                        .d Истребитель альянса повстанцев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_tech07.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Истебитель X-WING
                        .d Истребитель альянса повстанцев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_tech08.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Истебитель X-WING
                        .d Истребитель альянса повстанцев
        .more-row
            a(href="#") Все технологии