.module.universe-items
    .container
        .items-list.grid-four-items.caption-inside
            - var i = 2
            while (i--)
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                img(src="assets/img_yoda.jpg", alt="", class="img-responsive")
                        .item-desc
                            .t Люк Скайуокер
                            .d Последний из джедаев
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                img(src="assets/img_rd2d.jpg", alt="", class="img-responsive")
                        .item-desc
                            .t Люк Скайуокер
                            .d Последний из джедаев
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                img(src="assets/luc.jpg", alt="", class="img-responsive")
                        .item-desc
                            .t Люк Скайуокер
                            .d Последний из джедаев
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                img(src="assets/img_c3po.jpg", alt="", class="img-responsive")
                        .item-desc
                            .t Люк Скайуокер
                            .d Последний из джедаев
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                img(src="assets/img_padme.jpg", alt="", class="img-responsive")
                        .item-desc
                            .t Люк Скайуокер
                            .d Последний из джедаев
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                img(src="assets/img_solo.jpg", alt="", class="img-responsive")
                        .item-desc
                            .t Люк Скайуокер
                            .d Последний из джедаев
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                img(src="assets/img_chewbaka.jpg", alt="", class="img-responsive")
                        .item-desc
                            .t Люк Скайуокер
                            .d Последний из джедаев
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                img(src="assets/img_vader.jpg", alt="", class="img-responsive")
                        .item-desc
                            .t Люк Скайуокер
                            .d Последний из джедаев
        .more-load-row
            .center-wrap
                button.more-load Загрузить еще
                    svg(class="line")
                        use(xlink:href="#line-curve")
