.module.module-carousel-has.module-movies-carousel.movies-items
    .container
        .top-module-row
            .module-title
                .inner
                    .title-text Фильмы
        .carousel-wrapper
            .carousel-navigation
                span.arrow.arrow-prev(data-direction="prev")
                    svg
                        use(xlink:href="#ic_arrow-left")
                span.arrow.arrow-next(data-direction="next")
                    svg
                        use(xlink:href="#ic_arrow-right")

            .carousel.items-carousel.caption-outside(data-plugin-options='{"items":4, "loop": true, "nav":false, "margin": 12, "mouseDrag": true}', data-responsive='{"0":1, "340": 1, "478": 2, "768": 3, "992": 3, "1024": 4}')
                .item
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/phantom-menace.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Эпизод 1
                        .d Скрытая угроза
                .item
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/attack.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Эпизод 1
                        .d Скрытая угроза
                .item
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/revenge.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Эпизод 1
                        .d Скрытая угроза
                .item
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/hope.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Эпизод 1
                        .d Скрытая угроза
                .item
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/return.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Эпизод 1
                        .d Скрытая угроза
                .item
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/strikes-back.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Эпизод 1
                        .d Скрытая угроза
            .more-row
                a(href="#") Все фильмы