.module.universe-items
    .container
        .top-module-row
            .module-title
                .inner
                    .title-text Персонажи
                    .module-description герои, злодеи, авантюристы и не только 
        .items-list.grid-four-items.caption-inside
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_yoda.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Люк Скайуокер
                        .d Последний из джедаев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_rd2d.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Люк Скайуокер
                        .d Последний из джедаев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/luc.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Люк Скайуокер
                        .d Последний из джедаев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_c3po.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Люк Скайуокер
                        .d Последний из джедаев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_padme.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Люк Скайуокер
                        .d Последний из джедаев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_solo.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Люк Скайуокер
                        .d Последний из джедаев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_chewbaka.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Люк Скайуокер
                        .d Последний из джедаев
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_vader.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Люк Скайуокер
                        .d Последний из джедаев
        .more-row
            a(href="#") Все персонажи
