.module.groups-items
    .container
        .top-module-row
            .module-title
                .inner
                    .title-text Локации
                    .module-description Локации и т.д.
        .items-list.grid-2-items.caption-inside
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_location01.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Альдераан
                        .d Планета красоты
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_location02.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Альдераан
                        .d Планета красоты
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_location03.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Альдераан
                        .d Планета красоты
            .item
                .item-part
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/img_location04.jpg", alt="", class="img-responsive")
                    .item-desc
                        .t Альдераан
                        .d Планета красоты
        .more-row
            a(href="#") Все Локации
