.module.video-f-items
    .container
        .items-list.grid-3-items
            - var i = 3
            while (i--)
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                img(src="assets/movie1.jpg", alt="", class="img-responsive")
                        .item-desc
                            .d Звездные войны. эпизод 2: атака клонов - звездолеты
                            .date 15 апреля 2015
                            .tags
                                a(href="#") Звездолеты
                                span
                                a(href="#") Оружие
                                span
                                a(href="#") Трейлеры
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                img(src="assets/movie2.jpg", alt="", class="img-responsive")
                        .item-desc
                            .d Звездные войны. эпизод 2: атака клонов - звездолеты
                            .date 15 апреля 2015
                            .tags
                                a(href="#") Звездолеты
                                span
                                a(href="#") Оружие
                                span
                                a(href="#") Трейлеры
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                img(src="assets/movie3.jpg", alt="", class="img-responsive")
                        .item-desc
                            .d Звездные войны. эпизод 2: атака клонов - звездолеты
                            .date 15 апреля 2015
                            .tags
                                a(href="#") Звездолеты
                                span
                                a(href="#") Оружие
                                span
                                a(href="#") Трейлеры
