.module.news-detail
    .container
        .item
            .row
                .col-xmd-6
                    figure.thumbnail
                        a(href="#")
                            img(src="assets/news1.jpg", alt="", class="img-responsive inline")
                    .caption Подпись к изображению
                .col-xmd-6
                    .data
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
                        p.
                            Энакин получает свободу, победив в головокружительной гонке на «подах» и покидает родную планету, чтобы встать на путь джедая. Герои возвращаются на Набу, где Энакину и королеве приходится противостоять масштабному нашествию, в то время как два джедая вступают в бой с опасным врагом по имени Дарт Мол. И только тогда они понимают, что вторжение – это лишь первый шаг коварного плана активизировавшихся сил тьмы, имя которым Ситхи.
