.module.related-items
    .container
        .items-list.grid-3-items
            - var i = 3
            while (i--)
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                .play-btn
                                    svg(class="circle")
                                        use(xlink:href="#play-circle")
                                    svg(class="triangle")
                                        use(xlink:href="#play-triangle")
                                img(src="assets/relatedmovie1.jpg", alt="", class="img-responsive")
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                .play-btn
                                    svg(class="circle")
                                        use(xlink:href="#play-circle")
                                    svg(class="triangle")
                                        use(xlink:href="#play-triangle")
                                img(src="assets/relatedmovie2.jpg", alt="", class="img-responsive")
                .item
                    .item-part
                        figure.thumbnail
                            a(href="#")
                                .play-btn
                                    svg(class="circle")
                                        use(xlink:href="#play-circle")
                                    svg(class="triangle")
                                        use(xlink:href="#play-triangle")                                    
                                img(src="assets/relatedmovie3.jpg", alt="", class="img-responsive")