.single-game
    .container
        .area
            img(src="assets/game-single.jpg", alt="", class="img-responsive")
        .error-no-support.flash-error.text-center
            .inner
                h2 игра не доступна на данном устройстве
                svg(class="device")
                    use(xlink:href="#laptop")
                p Ваш планшет или мобильный телефон не поддерживает Flash Player. Попробуйте открыть эту ссылку с вашего компьютера.