- var activePage = 'universe'
doctype
html.no-js
    include partials/head
    body#universe-page
        include  partials/symbols
        //- .custom-nav
        .global.mhc-content
            include partials/header
            .container
                .page-title
                    span.icon.ic_universe
                        svg
                            use(xlink:href="#ic_universe")
                    .wrap
                        h1 Вселенная
                        .tab-buttons
                            a(href="").tab-button.active Персонажи
                            a(href="").tab-button Группы
                            a(href="").tab-button Технологии
                            a(href="").tab-button Локации
            include modules/module-characters-list
            include modules/advertising-platform
            include partials/footer
        include partials/scripts