- var activePage = 'universe'
doctype
html.no-js
    include partials/head
    body#character-page
        include  partials/symbols
        //- .custom-nav
        .global.mhc-content
            include partials/header
            .container
                .page-title
                    .row
                        .cnt-share
                            a.link.fb(href="#")
                                svg(class="triangle")
                                    use(xlink:href="#fb-letter")
                            a.link.tw(href="#")
                                svg(class="triangle")
                                    use(xlink:href="#twitter")
                        .col-xmd-9
                            h1 мастер йода
                            .character-small-intro Великий джедай
            include modules/module-character-card
            include modules/related-items
            include modules/advertising-platform
            include partials/footer
        include partials/scripts