- var activePage = 'games'
doctype
html.no-js
    include partials/head
    body
        include  partials/symbols
        //- .custom-nav
        .global.mhc-content
            include partials/header
            .container
                .page-title
                    span.icon.ic_games
                        svg
                            use(xlink:href="#ic_games")
                    h1 Игры
            include modules/module-online-games
            include modules/module-mobile-games
            include modules/module-video-games
            include modules/advertising-platform
            include partials/footer
        include partials/scripts