- var activePage = 'games'
doctype
html.no-js
    include partials/head
    body#game-single-page
        include  partials/symbols
        .global.mhc-content
            include partials/header
            .container
                .page-title
                    .row
                        .cnt-share
                            a.link.fb(href="#")
                                svg(class="triangle")
                                    use(xlink:href="#fb-letter")
                            a.link.tw(href="#")
                                svg(class="triangle")
                                    use(xlink:href="#twitter")
                        .col-xmd-9
                            h1 Скорость и драйв
                            .game-caption Подпись к игре

            include modules/single-game
            include modules/module-games-carousel
            include modules/advertising-platform
            include partials/footer
        include partials/scripts