doctype
doctype
html.no-js
    include partials/head
    body#front-page
        include  partials/symbols
        //- .custom-nav
        .global.mhc-content
            include partials/header
            include modules/main-slider
            include modules/module-universe-carousel
            include modules/module-movies-carousel
            include modules/module-games-carousel
            include modules/advertising-platform
            include partials/footer
        include partials/scripts