- var activePage = 'movies'
doctype
html.no-js
    include partials/head
    body
        include  partials/symbols
        //- .custom-nav
        .global.mhc-content
            include partials/header
            .container
                .page-title
                    span.icon.ic_movies
                        svg
                            use(xlink:href="#ic_movies")
                    h1 Фильмы
            include modules/module-movies-list
            include modules/advertising-platform
            include partials/footer
        include partials/scripts