doctype
html.no-js
    include partials/head
    body#news-page
        include  partials/symbols
        //- .custom-nav
        .global.mhc-content
            include partials/header
            .container
                .page-title
                    .row
                        .cnt-share
                            a.link.fb(href="#")
                                svg(class="triangle")
                                    use(xlink:href="#fb-letter")
                            a.link.tw(href="#")
                                svg(class="triangle")
                                    use(xlink:href="#twitter")
                        .col-xmd-9
                            h1 Название новости
                            .date 17 Апреля 2015
            include modules/news-detail
            include modules/advertising-platform
            include partials/footer
        include partials/scripts