doctype
html.no-js
    include partials/head
    body#news-page
        include  partials/symbols
        //- .custom-nav
        .global.mhc-content
            include partials/header
            .container
                .page-title
                    span.icon.ic_news
                        svg
                            use(xlink:href="#ic_news")
                    .wrap
                        h1 новости
                        .tab-buttons
                            a(href="").tab-button.active Все новости
                            a(href="").tab-button О саге
                            a(href="").tab-button Фильмы
                            a(href="").tab-button Игры
                            a(href="").tab-button События
                            a(href="").tab-button Конкурсы
            include modules/module-news-list
            include modules/advertising-platform
            include partials/footer
        include partials/scripts