- var activePage = 'universe'
doctype
html.no-js
    include partials/head
    body
        include  partials/symbols
        //- .custom-nav
        .global.mhc-content
            include partials/header
            .container
                .page-title
                    span.icon.ic_universe
                        svg
                            use(xlink:href="#ic_universe")
                    h1 Вселенная
            include modules/module-universe-list
            include modules/module-groups-list
            include modules/module-tehnologi-list
            include modules/module-locations-list
            include modules/advertising-platform
            include partials/footer
        include partials/scripts