- var activePage = 'video'
doctype
html.no-js
    include partials/head
    body#video-page
        include  partials/symbols
        //- .custom-nav
        .global.mhc-content
            include partials/header
            .container
                .page-title
                    span.icon.ic_video
                        svg
                            use(xlink:href="#ic_video")
                    .wrap
                        h1 Видео
                        .tab-buttons
                            a(href="").tab-button.active Все видео
                            a(href="").tab-button О саге
                            a(href="").tab-button Звездолеты
                            a(href="").tab-button Трейлеры
            include modules/module-single-video
            include modules/module-video-items
            include modules/advertising-platform
            include partials/footer
        include partials/scripts