footer.footer
    .container
        .row
            .col-md-10
                .foo-top-nav
                    .row
                        .col-md-12
                            .column
                                .title Фильмы DISNEY
                                ul
                                    li
                                        a(href="#", target="_blank") Русалочка
                                    li
                                        a(href="#", target="_blank") В кинотеатрах
                                    li
                                        a(href="#", target="_blank") На DVD
                                    li
                                        a(href="#", target="_blank") На Blue-ray
                                    li
                                        a(href="#", target="_blank") На Blue-ray 3D
                            .column
                                .title Творчество
                                ul
                                    li
                                        a(href="#", target="_blank") Печатная станция
                                    li
                                        a(href="#", target="_blank") Уроки рисования
                                    li
                                        a(href="#", target="_blank") Фейерверки!
                            .column
                                .title Игры DISNEY
                                ul
                                    li
                                        a(href="#", target="_blank") Свомпи 2
                                    li
                                        a(href="#", target="_blank") Играть сейчас!
                                    li
                                        a(href="#", target="_blank") PC игры
                                    li
                                        a(href="#", target="_blank") Консольные игры
                                    li
                                        a(href="#", target="_blank") Мобильные
                            .column
                                .title Канал DISNEY
                                ul
                                    li
                                        a(href="#", target="_blank") ТВ-программа
                                    li
                                        a(href="#", target="_blank") Игры Канала Disney
                                    li
                                        a(href="#", target="_blank") Финес и ферб
                                    li
                                        a(href="#", target="_blank") Узнавайка
                                    li
                                        a(href="#", target="_blank") Для партнеров
                            .column
                                .title Путешествия
                                ul
                                    li
                                        a(href="#", target="_blank") Disneyland париж
                                    li
                                        a(href="#", target="_blank") Мюзикл Русалочка
                            .column-double
                                .title О DISNEY
                                .column
                                    ul
                                        li
                                            a(href="#", target="_blank") Новости
                                        li
                                            a(href="#", target="_blank") История Disney 
                                        li
                                            a(href="#", target="_blank") Прессцентр 
                                        li
                                            a(href="#", target="_blank") Персонажи
                                .column
                                    ul
                                        li
                                            a(href="#", target="_blank") Конкурс Disney
                                        li
                                            a(href="#", target="_blank") Товары Disney
                                        li
                                            a(href="#", target="_blank") Disney Baby 
                                        li
                                            a(href="#", target="_blank") Книги и журналы
            .col-md-2
                .dsn-share.share
                    .t Присоединяйтесь
                    .links
                        a.share-link.link-instagramm(href="#")
                            svg
                                use(xlink:href="#instagramm")
                        a.share-link.link-twitter(href="#")
                            svg
                                use(xlink:href="#twitter")
                        a.share-link.link-facebook(href="#")
                            svg
                                use(xlink:href="#facebook")
                        a.share-link.link-odnoklassniki(href="#")
                            svg
                                use(xlink:href="#odnoklassniki")
        .foo-sep
        .foo-bottom
            .foo-bottom-nav
                ul
                    li.disney-copy
                        | &copy; Disney
                    li.sm-copy
                        .p 
                            |0+ Информационная продукция, опубликованная на данном сайте, предназначена для любой
                            | аудитории, если иное не указано дополнительно в отношении отдельных материалов
                    li
                        a(href="") Корпоративная информация
                    li
                        a(href="") Реклама
                    li
                        a(href="") Безопасный интернет
                    li
                        a(href="") Условия использования
                    li
                        a(href="") Политика конфиденциальности
                    li
                        a(href="") Обработка данных
            .p 
                |0+ Информационная продукция, опубликованная на данном сайте, предназначена для любой
                br
                | аудитории, если иное не указано дополнительно в отношении отдельных материалов
