.container
    header.header
        .toggle-nav(data-target="main-nav")
            .open
                span
                    svg
                        use(xlink:href="#open")
            .close.hide
                span
                    svg
                        use(xlink:href="#close")
        .angle-row
            .inner
        .row
            .col-md-3
                .logo
                    a(href="index.html")
            .col-md-9
                nav.main-nav.mobile-controls-section#main-nav
                    ul.root-list
                        li.item.have-child.item-universe(class=(activePage === 'universe' ? 'active' : ''))
                            a(href="universe.html", class="root-item-link")
                                span.icon.ic_universe
                                    svg
                                        use(xlink:href="#ic_universe")
                                | Вселенная
                            .child
                                ul
                                    li
                                        a(href="#") Персонажи
                                    li
                                        a(href="#") Группы
                                    li
                                        a(href="#") Технологии
                                    li
                                        a(href="#") Локации                       
                        li.item.item-movies(class=(activePage === 'movies' ? 'active' : ''))
                            a(href="movies.html", class="root-item-link")
                                span.icon.ic_movies
                                    svg
                                        use(xlink:href="#ic_movies")
                                | Фильмы
                        li.item.have-child.item-games(class=(activePage === 'games' ? 'active' : ''))
                            a(href="games.html", class="root-item-link")
                                span.icon.ic_games
                                    svg
                                        use(xlink:href="#ic_games")
                                | Игры
                            .child
                                ul
                                    li
                                        a(href="#") Онлайн игры
                                    li
                                        a(href="#") Мобильные игры
                                    li
                                        a(href="#") Видеоигры
                        li.item.item-rebels
                            a(href="#", class="root-item-link")
                                span.icon.ic_rebels
                                    svg
                                        use(xlink:href="#ic_rebels")
                                | Повстанцы
                        li.item.item-video(class=(activePage === 'video' ? 'active' : ''))
                            a(href="video.html", class="root-item-link")
                                span.icon.ic_video
                                    svg
                                        use(xlink:href="#ic_video")
                                | Видео