script(src="js/libs/libs.js")
script(src="js/imageSlider.js")
script(src="js/common.js")
script.
    (function (d) {

      var s = d.createElement("script");

      s.async = true;

      s.src = "http://new.disney.ru/goc/us/new.disney.ru/responsive.js";

      d.getElementsByTagName("head")[0].appendChild(s);

    })(document);
//- script.
//-     $(function(){
//-         setTimeout(function(){
//-             $('#mhd-global-footer').wrap('<div class="dsn-footer"></div>')
//-         }, 1500)
//-     })  
//- script(src='//new.disney.ru/footer-builder.js' async)
//- script.
//-     var GOC = {
//-             opts: {
//-             disneyKey: true,
//-             search: true,
//-             css: {
//-                 zIndex: 10000
//-             }
//-             },
//-             queue: [ ]
//-     };

//-     (function (d) {

//-       var s = d.createElement("script");

//-       s.async = true;

//-       s.src = "http://new.disney.ru/goc/us/new.disney.ru/responsive.js";

//-       d.getElementsByTagName("head")[0].appendChild(s);

//-     })(document);



//-     (function (d) {

//-       var s = d.createElement("script");

//-       s.async = true;

//-       s.src = "http://analytics.disneyinternational.com/analytics/wdigWebAnalytics.js";

//-       d.getElementsByTagName("head")[0].appendChild(s);

//-     })(document);






//-     cto = new CTO();
//-     cto.track();//Required. Do not remove.



