.symbols
    svg(style="display:none;" xmlns="http://www.w3.org/2000/svg").
        <symbol id="ic_movies" viewBox="0 0 20 21">
            <g id="Imported-Layers" sketch:type="MSLayerGroup">
                <path d="M17.7189091,19.2285254 L2.28109091,19.2285254 C1.13636364,19.2285254 0.208727273,18.3208983 0.208727273,17.2000678 L0.208727273,7.08233898 C0.208727273,5.96186441 1.13636364,5.05388136 2.28109091,5.05388136 L17.6901818,5.05388136 C18.8352727,5.05388136 19.7629091,5.96186441 19.7629091,7.08233898 L19.7629091,17.2000678 C19.7912727,18.322322 18.8636364,19.2285254 17.7189091,19.2285254 L17.7189091,19.2285254 Z M2.28109091,6.49576271 C1.95454545,6.49576271 1.68181818,6.76271186 1.68181818,7.08233898 L1.68181818,17.2000678 C1.68181818,17.5200508 1.95454545,17.787 2.28109091,17.787 L17.6901818,17.787 C18.0170909,17.787 18.2898182,17.5200508 18.2898182,17.2000678 L18.2898182,7.08233898 C18.2898182,6.76271186 18.0170909,6.49576271 17.6901818,6.49576271 L2.28109091,6.49576271 Z" id="Fill-1" sketch:type="MSShapeGroup"></path>
                <path d="M3.72727273,20.7248644 C3.53709091,20.7248644 3.34509091,20.6440678 3.20872727,20.5105932 C2.90909091,20.2173051 2.90909091,19.7624237 3.20872727,19.4954746 L4.73563636,18.0009153 C5.03563636,17.7076271 5.5,17.7076271 5.77272727,18.0009153 C6.07236364,18.2942034 6.07236364,18.7490847 5.77272727,19.0160339 L4.24581818,20.5105932 C4.10945455,20.6440678 3.91745455,20.7248644 3.72727273,20.7248644 L3.72727273,20.7248644 Z" id="Fill-2" sketch:type="MSShapeGroup"></path>
                <path d="M16.2727273,20.7248644 C16.0825455,20.7248644 15.8905455,20.6440678 15.7541818,20.5105932 L14.2272727,19.0160339 C13.9276364,18.7227458 13.9276364,18.2678644 14.2272727,18.0009153 C14.5269091,17.7076271 14.9916364,17.7076271 15.2643636,18.0009153 L16.7912727,19.4954746 C17.0909091,19.7891186 17.0909091,20.2436441 16.7912727,20.5105932 C16.6549091,20.6440678 16.4629091,20.7248644 16.2727273,20.7248644 L16.2727273,20.7248644 Z" id="Fill-3" sketch:type="MSShapeGroup"></path>
                <path d="M10.1901818,5.85472881 C10,5.85472881 9.80836364,5.77428814 9.672,5.64081356 C9.372,5.34716949 9.372,4.89264407 9.672,4.62569492 L13.8992727,0.487983051 C14.1989091,0.194694915 14.6632727,0.194694915 14.936,0.487983051 C15.2087273,0.781271186 15.2356364,1.23615254 14.936,1.50310169 L10.7087273,5.64223729 C10.5723636,5.80205085 10.3821818,5.85472881 10.1901818,5.85472881 L10.1901818,5.85472881 Z" id="Fill-4" sketch:type="MSShapeGroup"></path>
                <path d="M9.45454545,5.85472881 C9.26436364,5.85472881 9.07236364,5.77428814 8.936,5.64081356 L7.40909091,4.14589831 C7.10945455,3.85261017 7.10945455,3.39808475 7.40909091,3.13113559 C7.70872727,2.86418644 8.17345455,2.83784746 8.44618182,3.13113559 L9.97309091,4.62569492 C10.2727273,4.91898305 10.2727273,5.37386441 9.97309091,5.64081356 C9.80981818,5.80205085 9.61781818,5.85472881 9.45454545,5.85472881 L9.45454545,5.85472881 Z" id="Fill-5" sketch:type="MSShapeGroup"></path>
                <path d="M12.3181818,16.9594576 L7.68181818,16.9594576 C7.27272727,16.9594576 6.94618182,16.6398305 6.94618182,16.2394068 C6.94618182,15.8389831 7.27272727,15.5193559 7.68181818,15.5193559 L12.3181818,15.5193559 C12.7272727,15.5193559 13.0538182,15.8389831 13.0538182,16.2394068 C13.0538182,16.6398305 12.7272727,16.9594576 12.3181818,16.9594576 L12.3181818,16.9594576 Z" id="Fill-6" sketch:type="MSShapeGroup"></path>
                <path d="M3.72727273,16.9594576 C3.53709091,16.9594576 3.34509091,16.8790169 3.20872727,16.7455424 C3.07236364,16.6120678 2.99018182,16.4255593 2.99018182,16.2379831 C2.99018182,16.0518305 3.07236364,15.8638983 3.20872727,15.7304237 C3.48145455,15.4634746 3.97309091,15.4634746 4.24581818,15.7304237 C4.38218182,15.8638983 4.46436364,16.0504068 4.46436364,16.2379831 C4.46436364,16.4244915 4.38218182,16.6120678 4.24581818,16.7455424 C4.10945455,16.8804407 3.91745455,16.9594576 3.72727273,16.9594576 L3.72727273,16.9594576 Z" id="Fill-7" sketch:type="MSShapeGroup"></path>
            </g>     
        </symbol> 
        <symbol id="ic_games" viewBox="10.991 246.835 575.534 348.316">
            <g>
                <path d="M452.004,301.889c-37.448,0-66.143,28.694-66.143,63.905c0,35.309,28.694,63.905,66.143,63.905
                    s66.143-28.694,66.143-63.905S489.452,301.889,452.004,301.889z M429.924,365.794c-12.158,0-22.079-9.824-22.079-22.08
                    c0-12.159,9.823-22.08,22.079-22.08s22.08,9.921,22.08,22.08C452.004,355.97,442.083,365.794,429.924,365.794z M473.987,409.954
                    c-12.158,0-22.08-9.824-22.08-22.08s9.824-22.08,22.08-22.08c12.159,0,22.08,9.824,22.08,22.08S486.146,409.954,473.987,409.954z"/>
                <path d="M194.05,350.426h-35.309v-33.071h-30.834v33.071H92.599v33.071h33.071v33.071h33.071V381.26h33.071v-30.834
                    H194.05z M143.276,429.796c-37.448,0-66.143-28.694-66.143-63.905c0-35.211,28.694-63.905,66.143-63.905
                    s66.143,28.694,66.143,63.905C209.418,401.103,180.822,429.796,143.276,429.796z"/>
                <path d="M575.438,357.04c-6.614-61.765-57.291-110.205-121.294-110.205c-22.079,0-41.922,6.614-61.765,17.605
                    H205.041c-19.843-10.992-39.686-17.605-61.766-17.605c-63.905,0-114.679,48.537-121.293,110.205
                    c-6.614,121.293-10.991,180.821-10.991,182.961c0,30.834,24.22,55.15,55.15,55.15c103.591,0,149.891-88.223,165.356-132.285H366.02
                    c15.465,44.063,61.765,132.285,165.355,132.285c30.834,0,55.15-24.219,55.15-55.15C586.429,537.763,582.052,478.236,575.438,357.04z
                     M531.375,572.781c-38.907,0-72.368-14.396-99.603-42.701c-25.387-26.457-38.811-58.068-44.646-74.604l-5.252-14.98H215.643
                    l-5.252,14.98c-5.739,16.535-19.259,48.146-44.646,74.604c-27.234,28.305-60.695,42.701-99.603,42.701
                    c-18.188,0-32.584-14.201-32.779-32.391c0.098-1.361,0.39-5.545,0.682-10.699c1.556-23.734,5.252-79.176,10.213-170.9
                    c2.724-24.512,14.104-47.175,32.001-63.711c18.189-16.827,42.02-26.067,66.921-26.067c16.535,0,32.682,4.766,50.871,14.784
                    l5.058,2.821h199.01l5.059-2.821c18.188-10.116,34.335-14.784,50.871-14.784c24.998,0,48.731,9.24,66.92,26.067
                    c17.897,16.536,29.278,39.102,32.001,63.711c5.059,91.626,8.657,147.166,10.311,170.9c0.292,5.154,0.584,9.338,0.681,10.699
                    C563.863,558.58,549.564,572.781,531.375,572.781z"/>
               </g>   
        </symbol>
        <symbol id="ic_rebels" viewBox="0 0 18 17">
            <g transform="translate(-832.000000, -155.000000)">
                <path d="M848.17,163.554552 L848.17,160.135015 C848.17,157.363761 845.851652,155.109104 843.002435,155.109104 L838.605478,155.109104 C835.756261,155.109104 833.437913,157.363761 833.437913,160.135015 L833.437913,163.554552 C832.594261,163.84203 832,164.61794 832,165.536701 C832,166.262373 833.16687,168.333836 834.08513,169.167343 C834.217391,170.675776 835.521739,171.863239 837.105478,171.863239 C837.90113,171.863239 838.655304,171.562821 839.218783,171.029731 L842.390957,171.029731 C842.954696,171.562821 843.707565,171.863239 844.503478,171.863239 C846.088,171.863239 847.392348,170.675776 847.52487,169.167343 C848.442087,168.333836 849.608696,166.262373 849.608696,165.536701 C849.607652,164.618955 849.013652,163.84203 848.17,163.554552 L848.17,163.554552 Z M846.497826,168.286134 C846.300087,168.407164 846.179826,168.617254 846.179826,168.845104 L846.179826,168.914627 C846.179826,169.813597 845.427739,170.545104 844.503478,170.545104 C844.001043,170.545104 843.529391,170.328925 843.209304,169.951373 C843.080957,169.799642 842.889478,169.711343 842.686522,169.711343 L842.359391,169.711343 C842.363565,169.691552 842.371652,169.672776 842.371652,169.650955 L842.371652,168.831403 C842.371652,168.64897 842.219826,168.501299 842.032261,168.501299 C841.844957,168.501299 841.69313,168.64897 841.69313,168.831403 L841.69313,169.650955 C841.69313,169.672776 841.701217,169.690537 841.705391,169.711343 L841.130435,169.711343 C841.134609,169.691552 841.142696,169.672776 841.142696,169.650955 L841.142696,168.038493 C841.142696,167.85606 840.99087,167.708388 840.803304,167.708388 C840.616,167.708388 840.464174,167.85606 840.464174,168.038493 L840.464174,169.650955 C840.464174,169.672776 840.472261,169.690537 840.476435,169.711343 L839.900696,169.711343 C839.904609,169.691552 839.912696,169.672776 839.912696,169.650955 L839.912696,168.831403 C839.912696,168.64897 839.76087,168.501299 839.573565,168.501299 C839.386,168.501299 839.234174,168.64897 839.234174,168.831403 L839.234174,169.650955 C839.234174,169.672776 839.242261,169.690537 839.246435,169.711343 L838.919304,169.711343 C838.716348,169.711343 838.52487,169.799642 838.396522,169.951373 C838.076435,170.328925 837.604783,170.545104 837.102348,170.545104 C836.178087,170.545104 835.426,169.813597 835.426,168.914627 L835.426,168.845104 C835.426,168.618269 835.305739,168.407164 835.108,168.286134 C834.572174,167.96009 833.406348,165.96297 833.352348,165.536701 C833.352348,165.110687 833.695652,164.766627 834.133913,164.753687 C834.208261,164.75191 834.278696,164.73491 834.346,164.71106 L835.449478,165.929224 C835.516783,166.003567 835.609391,166.041373 835.704348,166.041373 C835.783652,166.041373 835.863217,166.014478 835.928435,165.95891 C836.069043,165.838134 836.082348,165.630075 835.958957,165.494075 L834.781913,164.194716 C834.78713,164.161985 834.792348,164.129254 834.792348,164.095761 L834.792348,161.815985 C834.913391,161.743672 835.063391,161.672373 835.236609,161.601075 C835.353739,162.354149 835.922435,163.399015 836.089391,163.561403 C836.255565,163.72303 836.451217,163.774537 836.635652,163.774537 C836.890261,163.774537 837.125826,163.676343 837.232783,163.63194 C837.583391,163.486045 840.134957,162.102448 840.442783,161.852776 C840.55287,161.763463 840.617043,161.640657 840.629043,161.49603 C840.648609,161.27097 840.527304,161.015209 840.389826,160.80106 C840.527304,160.79903 840.661913,160.795224 840.803304,160.795224 C840.944174,160.795224 841.079565,160.79903 841.217043,160.80106 C841.079565,161.015209 840.958261,161.269955 840.977565,161.49603 C840.989826,161.640657 841.055043,161.763463 841.164087,161.852776 C841.471913,162.102448 844.023478,163.486045 844.374087,163.63194 C844.482087,163.676343 844.716348,163.774537 844.972261,163.774537 C845.157739,163.774537 845.353391,163.72303 845.518522,163.561403 C845.685478,163.399015 846.25313,162.354149 846.370261,161.601075 C846.542435,161.671358 846.692435,161.743672 846.814522,161.815985 L846.814522,164.095761 C846.814522,164.129254 846.819739,164.161985 846.824696,164.194716 L845.647913,165.494075 C845.523478,165.630836 845.537826,165.839149 845.678435,165.95891 C845.742609,166.014478 845.823217,166.041373 845.902522,166.041373 C845.996435,166.041373 846.090087,166.003567 846.156348,165.929224 L847.259826,164.71106 C847.326087,164.73491 847.396522,164.75191 847.471913,164.753687 C847.910174,164.766627 848.253478,165.110687 848.254522,165.51691 C848.198435,165.963985 847.033652,167.96009 846.497826,168.286134 L846.497826,168.286134 Z M838.077478,168.689567 C838.077478,169.801672 836.362522,169.801672 836.362522,168.689567 C836.362522,167.577463 838.077478,167.577463 838.077478,168.689567 Z M845.244348,168.689567 C845.244348,169.801672 843.529391,169.801672 843.529391,168.689567 C843.529391,167.577463 845.244348,167.577463 845.244348,168.689567 Z M838.605478,156.427239 L843.001391,156.427239 C845.103739,156.427239 846.813739,158.090448 846.813739,160.135015 L846.813739,161.081687 C845.486957,160.457254 843.136,160.13603 840.803304,160.13603 C838.47087,160.13603 836.119913,160.458269 834.79313,161.081687 L834.79313,160.135015 C834.79313,158.090448 836.50313,156.427239 838.605478,156.427239 L838.605478,156.427239 Z M845.038522,163.094537 C844.995739,163.137164 844.846,163.110522 844.640174,163.025269 C844.339391,162.900433 842.120957,161.690134 841.664435,161.392761 C841.706174,161.27097 841.857217,161.03703 842.012957,160.858657 C842.021043,160.848761 842.024174,160.836836 842.031478,160.82694 C843.569043,160.903313 844.823565,161.115433 845.715217,161.376015 C845.711043,161.857597 845.164783,162.942045 845.038522,163.094537 L845.038522,163.094537 Z M839.593913,160.858657 C839.749652,161.036015 839.900696,161.269955 839.942435,161.391746 C839.485913,161.689119 837.267478,162.899418 836.965913,163.025269 C836.759826,163.111537 836.61113,163.136149 836.576435,163.104433 C836.442087,162.94306 835.895826,161.858612 835.890609,161.376015 C836.783304,161.115433 838.037826,160.902299 839.574609,160.82694 C839.583739,160.836836 839.585565,160.848761 839.593913,160.858657 Z M843.953304,166.968 C844.088696,166.968 844.217043,166.887821 844.269217,166.75791 C844.336261,166.588418 844.249652,166.397104 844.075391,166.331642 C844.068348,166.328597 843.417217,166.080955 842.76713,165.611045 C842.636696,165.51691 842.519565,165.427851 842.410522,165.343612 C841.916174,164.965806 841.525913,164.667672 840.868522,164.667672 L840.740174,164.667672 C840.083043,164.667672 839.692783,164.965806 839.198435,165.343612 C839.089391,165.426836 838.972261,165.51691 838.841826,165.611045 C838.195652,166.07791 837.539565,166.329612 837.533304,166.331642 C837.359043,166.398119 837.272435,166.589433 837.339739,166.75791 C837.408087,166.927403 837.602696,167.011642 837.778,166.946179 C837.807478,166.935269 838.522783,166.662761 839.245391,166.140328 C839.380783,166.042388 839.50313,165.949015 839.616348,165.861985 C840.067652,165.51691 840.316261,165.326612 840.73913,165.326612 L840.867739,165.326612 C841.290609,165.326612 841.539217,165.51691 841.990522,165.861985 C842.103739,165.949015 842.226087,166.042388 842.361478,166.140328 C843.084087,166.662761 843.799391,166.935269 843.82887,166.946179 C843.870609,166.961149 843.912348,166.968 843.953304,166.968 Z" id="assets/ic_rebels" sketch:type="MSShapeGroup"></path>
            </g>     
        </symbol> 
        <symbol id="ic_video" viewBox="0 0 20 15">
            <g transform="translate(-930.000000, -156.000000)">
                <path d="M947.718909,170.228525 L932.281091,170.228525 C931.136364,170.228525 930.208727,169.320898 930.208727,168.200068 L930.208727,158.082339 C930.208727,156.961864 931.136364,156.053881 932.281091,156.053881 L947.690182,156.053881 C948.835273,156.053881 949.762909,156.961864 949.762909,158.082339 L949.762909,168.200068 C949.791273,169.322322 948.863636,170.228525 947.718909,170.228525 Z M932.281091,157.495763 C931.954545,157.495763 931.681818,157.762712 931.681818,158.082339 L931.681818,168.200068 C931.681818,168.520051 931.954545,168.787 932.281091,168.787 L947.690182,168.787 C948.017091,168.787 948.289818,168.520051 948.289818,168.200068 L948.289818,158.082339 C948.289818,157.762712 948.017091,157.495763 947.690182,157.495763 L932.281091,157.495763 Z M938.047722,160.085204 L943,163 L938.047722,166.085204 L938.047722,160.085204 Z" id="assets/ic_video" sketch:type="MSShapeGroup"></path>
            </g>  
        </symbol>     
        <symbol id="ic_universe" viewBox="0 0 18 18">
            <g transform="translate(-372.000000, -154.000000)">
               <path d="M386.735893,168.445827 C386.7706,168.41036 386.805053,168.373627 386.83976,168.337147 C386.928933,168.24012 387.015827,168.141067 387.100947,168.04024 C387.11184,168.02732 387.123747,168.0144 387.13464,168.000467 C387.233693,167.881907 387.328693,167.760053 387.420653,167.635413 C387.434587,167.616667 387.447507,167.59792 387.461187,167.57892 C387.536427,167.475053 387.610653,167.370173 387.68184,167.263267 C387.70464,167.2278 387.72744,167.193093 387.75024,167.157373 C387.80952,167.0644 387.86804,166.970413 387.92428,166.8744 C387.948093,166.833867 387.970893,166.793333 387.994707,166.7528 C388.04816,166.658813 388.099587,166.563813 388.148987,166.466787 C388.16976,166.426253 388.191547,166.385467 388.21232,166.34392 C388.263747,166.240053 388.3134,166.135173 388.35976,166.02928 C388.374707,165.994573 388.391427,165.961133 388.406373,165.92744 C388.528987,165.643453 388.636907,165.35136 388.727853,165.05268 C388.737733,165.018987 388.7466,164.98428 388.756733,164.950587 C388.790173,164.83684 388.820827,164.723093 388.849707,164.60732 C388.862373,164.556907 388.873267,164.50548 388.885173,164.4538 C388.907973,164.352973 388.92976,164.252147 388.94952,164.150053 C388.960413,164.093813 388.970293,164.036307 388.980173,163.979813 C388.997147,163.88 389.01184,163.779933 389.025773,163.679107 C389.032613,163.6216 389.041733,163.564347 389.04756,163.50684 C389.059467,163.39892 389.068333,163.29024 389.076187,163.181307 C389.08024,163.130893 389.085053,163.08124 389.088093,163.029813 C389.094933,162.87148 389.1,162.711373 389.1,162.55 C389.1,162.388627 389.094933,162.228267 389.086067,162.067907 C389.08328,162.01648 389.078213,161.966067 389.07416,161.915653 C389.066307,161.807733 389.05744,161.699813 389.045533,161.592147 C389.038693,161.532613 389.03084,161.47536 389.023747,161.41684 C389.010827,161.31804 388.996133,161.218987 388.97916,161.120947 C388.96928,161.061667 388.958387,161.003147 388.947493,160.94488 C388.928747,160.845827 388.907973,160.74804 388.885173,160.65 C388.873267,160.595533 388.861613,160.541067 388.84768,160.4866 C388.820827,160.37792 388.790173,160.268987 388.75952,160.16208 C388.747613,160.121547 388.737733,160.081013 388.725067,160.04124 C388.679467,159.89304 388.630827,159.74636 388.577627,159.60196 C388.573573,159.591067 388.568507,159.580173 388.564707,159.56928 C388.515053,159.436787 388.462613,159.306067 388.407387,159.177373 C388.388387,159.1338 388.368627,159.092253 388.34988,159.049693 C388.306307,158.95292 388.26172,158.856907 388.21536,158.76292 C388.191547,158.71428 388.165707,158.666907 388.141133,158.618267 C388.095533,158.53036 388.04816,158.443213 387.99952,158.35708 C387.97292,158.308693 387.945053,158.261067 387.91744,158.213693 C387.866013,158.12756 387.813573,158.04244 387.759107,157.95732 C387.731493,157.913747 387.703627,157.86916 387.676013,157.8266 C387.613693,157.732613 387.548333,157.63964 387.48196,157.548693 C387.460173,157.51804 387.438387,157.486373 387.41584,157.455467 C387.326667,157.33488 387.233693,157.21708 387.138693,157.10232 C387.115893,157.074707 387.091067,157.048867 387.068267,157.021253 C386.995053,156.93512 386.920827,156.85 386.844827,156.765893 C386.805053,156.72232 386.763507,156.680773 386.722973,156.638213 C386.660653,156.573867 386.598333,156.508507 386.533987,156.446187 C386.486613,156.399573 386.438987,156.354227 386.3906,156.30964 C386.331067,156.253147 386.26976,156.19792 386.208453,156.143453 C386.156013,156.09684 386.10256,156.05048 386.049107,156.005893 C385.989827,155.95624 385.92928,155.907853 385.868987,155.859467 C385.828453,155.826787 385.788933,155.79208 385.747387,155.760413 C385.731427,155.748507 385.714707,155.737613 385.698747,155.725707 C385.590827,155.64464 385.481133,155.5656 385.370173,155.489347 C385.317733,155.453627 385.263267,155.41892 385.210067,155.383453 C385.118867,155.32392 385.026907,155.265653 384.933933,155.20916 C384.872373,155.17268 384.810053,155.13696 384.747733,155.102253 C384.67452,155.060707 384.59928,155.020173 384.524293,154.980653 C384.45184,154.942147 384.378627,154.9044 384.305413,154.868933 C384.249173,154.841067 384.190653,154.814467 384.1334,154.787613 C384.060947,154.75392 383.990773,154.718453 383.91756,154.686787 C383.88488,154.672853 383.850173,154.66196 383.817493,154.64904 C383.676133,154.590773 383.532493,154.536307 383.388093,154.48488 C383.333627,154.466133 383.27916,154.447133 383.224947,154.4294 C383.097267,154.38684 382.96756,154.348333 382.83684,154.3116 C382.78744,154.29792 382.740067,154.279933 382.6894,154.267013 C382.591613,154.24244 382.491547,154.22268 382.392493,154.200893 C382.343093,154.19 382.296733,154.178093 382.249107,154.169227 C382.16804,154.153267 382.08672,154.139587 382.00464,154.125653 C381.91952,154.110707 381.8344,154.097027 381.747507,154.08512 C381.678093,154.07524 381.60792,154.066373 381.537493,154.058267 C381.4316,154.04636 381.325707,154.03648 381.219053,154.028627 C381.16256,154.024573 381.106067,154.018747 381.049827,154.015707 C380.8844,154.005827 380.718213,154 380.55,154 C380.381787,154 380.2156,154.005827 380.04916,154.015707 C379.99292,154.018747 379.936427,154.024573 379.879933,154.028627 C379.77328,154.03648 379.667387,154.04636 379.561493,154.05928 C379.491067,154.067133 379.421907,154.076253 379.352493,154.086133 C379.266613,154.09804 379.18048,154.11172 379.09536,154.126667 C379.01328,154.140347 378.93196,154.15428 378.850893,154.17024 C378.803267,154.18012 378.756907,154.191013 378.70928,154.201907 C378.61048,154.223693 378.5094,154.24244 378.412373,154.268027 C378.362973,154.280947 378.3156,154.298933 378.265947,154.312613 C378.134467,154.349347 378.003747,154.388867 377.874293,154.431427 C377.822613,154.448147 377.771187,154.466133 377.71976,154.483867 C377.550533,154.543147 377.38232,154.60648 377.21816,154.675893 C377.20828,154.679693 377.197387,154.683747 377.186493,154.6878 C377.137853,154.708573 377.091493,154.733147 377.042853,154.754933 C376.95292,154.795467 376.863747,154.837013 376.774827,154.879573 C376.71732,154.908453 376.660067,154.938093 376.60256,154.967733 C376.508573,155.017133 376.4156,155.0678 376.323387,155.12024 C376.277027,155.14684 376.2294,155.17268 376.184053,155.200293 C376.061187,155.273507 375.9406,155.348747 375.821787,155.42804 C375.80684,155.43792 375.791133,155.446787 375.776187,155.456667 C375.647493,155.5428 375.52184,155.633747 375.399227,155.72672 C375.383267,155.738627 375.36756,155.748507 375.3516,155.760413 C375.310053,155.79208 375.26952,155.8278 375.228987,155.86048 C375.169707,155.907853 375.10916,155.95548 375.050893,156.00488 C374.996427,156.05048 374.942973,156.097853 374.88952,156.144467 C374.829227,156.19792 374.768933,156.252133 374.7094,156.308627 C374.66,156.354227 374.611613,156.400587 374.563987,156.4472 C374.500653,156.50952 374.439347,156.572853 374.37804,156.636187 C374.336493,156.67976 374.293933,156.72232 374.2534,156.766907 C374.179173,156.847973 374.105707,156.93208 374.03452,157.016187 C374.009947,157.045827 373.984107,157.073693 373.95928,157.103333 C373.86428,157.218093 373.77232,157.33488 373.6834,157.454707 C373.659587,157.487133 373.636787,157.520827 373.612973,157.553507 C373.548627,157.64268 373.48428,157.733627 373.423987,157.825587 C373.394347,157.870173 373.366733,157.91476 373.337853,157.96036 C373.2844,158.043453 373.232973,158.12756 373.18256,158.21268 C373.153933,158.261067 373.126067,158.309707 373.098453,158.358093 C373.050067,158.443213 373.003453,158.529347 372.958867,158.61624 C372.93328,158.66488 372.908453,158.71428 372.883627,158.76368 C372.837267,158.856907 372.793693,158.951907 372.751133,159.046907 C372.731373,159.09048 372.7106,159.1338 372.6916,159.177373 C372.637387,159.30404 372.584947,159.433747 372.536307,159.564467 C372.531493,159.577133 372.526427,159.590053 372.521613,159.602973 C372.46816,159.747373 372.41952,159.8938 372.374173,160.04124 C372.361253,160.082027 372.35036,160.124587 372.338453,160.166133 C372.3078,160.27304 372.27816,160.379693 372.250293,160.487613 C372.236613,160.54208 372.224707,160.596547 372.2128,160.651013 C372.191013,160.7488 372.169227,160.84684 372.15048,160.94488 C372.139587,161.003147 372.128693,161.06268 372.118813,161.120947 C372.10184,161.218987 372.08816,161.31804 372.074227,161.41684 C372.066373,161.47536 372.058267,161.533627 372.051427,161.592907 C372.03952,161.699813 372.030653,161.807733 372.0228,161.915653 C372.018747,161.96708 372.013933,162.017493 372.010893,162.06892 C372.005067,162.227253 372,162.387613 372,162.55 C372,162.711373 372.005067,162.87148 372.013933,163.030827 C372.01672,163.08124 372.021787,163.131907 372.02584,163.18232 C372.033693,163.291253 372.04256,163.399933 372.054467,163.507853 C372.061307,163.566373 372.0684,163.622613 372.076253,163.68012 C372.089173,163.780947 372.103867,163.881013 372.12084,163.980827 C372.13072,164.038333 372.1406,164.094573 372.151493,164.151067 C372.171253,164.252907 372.192027,164.353987 372.21584,164.454813 C372.227493,164.50624 372.238387,164.55792 372.251307,164.608333 C372.279933,164.723093 372.31084,164.835827 372.34428,164.948813 C372.35416,164.983267 372.36328,165.018987 372.374173,165.053693 C372.46512,165.35136 372.57304,165.643453 372.69464,165.926427 C372.7106,165.962147 372.726307,165.9966 372.742267,166.03232 C372.788627,166.1372 372.837267,166.241067 372.888693,166.342907 C372.909467,166.385467 372.931253,166.427013 372.95304,166.468813 C373.00244,166.563813 373.052853,166.6578 373.105293,166.750773 C373.129107,166.79232 373.15292,166.833867 373.177493,166.875413 C373.232973,166.9694 373.29048,167.062373 373.34976,167.154587 C373.373573,167.191067 373.396373,167.2278 373.419933,167.26428 C373.489347,167.36916 373.561547,167.472267 373.635773,167.574107 C373.65072,167.59488 373.665413,167.616667 373.68036,167.636427 C373.77232,167.760053 373.866307,167.880893 373.96536,167.999707 C373.97828,168.0144 373.990947,168.029347 374.003867,168.04404 C374.08696,168.143093 374.17208,168.24012 374.259227,168.33512 C374.293933,168.372613 374.330413,168.409347 374.366133,168.44684 C374.433267,168.517013 374.500653,168.58744 374.570827,168.654573 C374.6144,168.697133 374.658987,168.738933 374.703573,168.78124 C374.766907,168.840773 374.831253,168.900053 374.897627,168.95756 C374.947027,169.002147 374.99744,169.045467 375.047853,169.088027 C375.110173,169.140467 375.173507,169.191133 375.23684,169.241547 C375.276613,169.2722 375.313093,169.305893 375.353627,169.336547 C375.368573,169.34744 375.38428,169.35732 375.399227,169.369227 C375.523867,169.463213 375.651547,169.555173 375.782267,169.643333 C375.789107,169.648147 375.79696,169.653213 375.805067,169.658027 C375.93072,169.742133 376.05916,169.82244 376.18988,169.900467 C376.23244,169.926307 376.275,169.95012 376.31756,169.97368 C376.413573,170.028147 376.511613,170.0816 376.610413,170.133027 C376.663867,170.160893 376.71732,170.18952 376.771787,170.216373 C376.865773,170.262733 376.960773,170.306307 377.056787,170.34988 C377.10036,170.36964 377.14292,170.391427 377.187507,170.410173 C377.32,170.466667 377.455533,170.519107 377.591067,170.56952 C377.605,170.574587 377.619947,170.580413 377.633627,170.58548 C377.887973,170.678453 378.1484,170.761547 378.412373,170.829693 C378.507627,170.853507 378.6044,170.872253 378.700413,170.89404 C378.75184,170.905947 378.802507,170.917853 378.85292,170.927733 C378.93196,170.943693 379.012267,170.95636 379.091307,170.970293 C379.178453,170.98524 379.2656,170.99892 379.353507,171.01184 C379.421907,171.02172 379.491067,171.029573 379.559467,171.03768 C379.666373,171.049587 379.77328,171.059467 379.879933,171.068333 C379.936427,171.072133 379.991907,171.078213 380.0484,171.081253 C380.214587,171.091133 380.380773,171.09696 380.548987,171.09696 C380.7172,171.09696 380.883387,171.091133 381.049827,171.081253 C381.106067,171.078213 381.161547,171.073147 381.21804,171.068333 C381.324947,171.06048 381.432613,171.050347 381.538507,171.03768 C381.60792,171.029573 381.676067,171.020707 381.74548,171.010827 C381.833387,170.99892 381.920533,170.984227 382.00768,170.96928 C382.087733,170.9556 382.16804,170.94268 382.24708,170.92672 C382.298507,170.915827 382.349173,170.90392 382.4006,170.893027 C382.496613,170.872253 382.593387,170.853507 382.688387,170.828933 C382.736013,170.816013 382.782373,170.79904 382.83,170.786373 C382.963507,170.74964 383.096253,170.709107 383.227733,170.665533 C383.280173,170.648813 383.3316,170.630827 383.38328,170.613093 C383.53452,170.55964 383.685,170.503147 383.831427,170.442853 C383.85904,170.430947 383.888933,170.42208 383.916547,170.410173 C383.985707,170.380533 384.05208,170.345827 384.119467,170.315173 C384.1828,170.286547 384.246133,170.256907 384.308453,170.226253 C384.378627,170.191547 384.44804,170.155827 384.5172,170.119347 C384.597507,170.0778 384.675533,170.034227 384.753813,169.98964 C384.81208,169.955947 384.8706,169.923267 384.927853,169.889573 C385.029947,169.82928 385.12976,169.765947 385.2278,169.700587 C385.263267,169.677027 385.301013,169.65524 385.336733,169.630413 C385.46036,169.54732 385.580947,169.45916 385.69976,169.369227 C385.714707,169.35732 385.730413,169.34744 385.74536,169.336547 C385.78488,169.306907 385.821613,169.274227 385.86012,169.243573 C385.924467,169.192147 385.988813,169.140467 386.051133,169.088027 C386.101547,169.045467 386.150947,169.002907 386.199587,168.959587 C386.265707,168.901067 386.331067,168.841787 386.395413,168.78124 C386.438987,168.739693 386.483573,168.69916 386.526133,168.6566 C386.598333,168.58744 386.667493,168.517013 386.735893,168.445827 L386.735893,168.445827 Z M386.717147,166.50428 C386.71208,166.511373 386.70828,166.519227 386.703213,166.526067 C386.52208,166.80524 386.323213,167.07048 386.107627,167.321787 C386.098507,167.33268 386.088627,167.343573 386.07976,167.354467 C385.916613,167.541427 385.74232,167.717493 385.561187,167.887733 C385.494053,167.951067 385.428693,168.015413 385.35928,168.075707 C385.29316,168.133213 385.223747,168.186667 385.156613,168.241133 C385.0834,168.300413 385.010947,168.360707 384.935707,168.4172 C384.868573,168.467613 384.79916,168.514227 384.73,168.562613 C384.64792,168.62012 384.5666,168.67636 384.481733,168.729813 C384.417387,168.77136 384.351013,168.81012 384.28464,168.848627 C384.188627,168.906133 384.0916,168.96136 383.9928,169.0138 C383.883867,169.07232 383.774933,169.130587 383.6622,169.183027 C383.657387,169.185053 383.651307,169.188093 383.646493,169.191133 C383.637627,169.194933 383.627493,169.198987 383.618627,169.20304 C383.72072,169.058387 383.821547,168.904107 383.91756,168.743747 C384.26184,168.17172 384.557733,167.5128 384.794347,166.787253 C385.721547,166.483507 386.540827,166.083747 387.207853,165.611787 C387.205827,165.615587 387.205067,165.618627 387.20304,165.62268 C387.060413,165.928453 386.89828,166.223333 386.717147,166.50428 L386.717147,166.50428 Z M377.47732,169.202027 C377.432733,169.181253 377.38916,169.158453 377.3466,169.136667 C377.27744,169.102973 377.20828,169.067253 377.13988,169.030773 C377.01524,168.9644 376.892373,168.894227 376.771787,168.822027 C376.73024,168.7972 376.688693,168.772373 376.64816,168.746787 C376.532387,168.673573 376.4194,168.596307 376.308693,168.517013 C376.269173,168.4894 376.228387,168.4628 376.18988,168.432907 C376.079173,168.349813 375.971253,168.26292 375.864347,168.17476 C375.828627,168.14512 375.791133,168.117253 375.756427,168.0866 C375.660413,168.003507 375.569467,167.91636 375.478267,167.828453 C375.322973,167.678987 375.172493,167.525467 375.031133,167.363333 C375.015173,167.3456 375.00048,167.327613 374.98452,167.30988 C374.778813,167.069467 374.5878,166.81512 374.413507,166.547853 C374.396787,166.522267 374.380827,166.496427 374.36512,166.4716 C374.28988,166.35304 374.216667,166.231187 374.148267,166.108573 C374.1394,166.092613 374.12952,166.076907 374.121667,166.060947 C374.04744,165.9244 373.977267,165.785827 373.911907,165.644467 C373.90684,165.633573 373.902027,165.62268 373.89696,165.6128 C374.563987,166.085773 375.383267,166.48452 376.31072,166.788267 C376.548093,167.513813 376.845,168.17476 377.18928,168.7478 C377.285293,168.906133 377.384347,169.060413 377.489227,169.205827 C377.48416,169.204813 377.48036,169.20304 377.47732,169.202027 L377.47732,169.202027 Z M373.910893,159.448693 C373.976253,159.309107 374.045413,159.171547 374.118627,159.037027 C374.128507,159.018027 374.1394,159.000293 374.150293,158.98256 C374.21768,158.86172 374.288867,158.74392 374.36208,158.627133 C374.379053,158.600533 374.396787,158.57292 374.413507,158.546067 C374.49964,158.413573 374.589827,158.283867 374.683813,158.1572 C374.684827,158.156187 374.684827,158.156187 374.68584,158.155173 C374.779827,158.02952 374.878627,157.90792 374.981733,157.788093 C374.998453,157.768333 375.01416,157.749587 375.031133,157.730587 C375.168693,157.573267 375.314107,157.4238 375.463573,157.2794 C375.559587,157.18744 375.6556,157.09548 375.755413,157.008333 C375.78708,156.980467 375.821787,156.95488 375.854467,156.927013 C375.96416,156.836067 376.074107,156.746133 376.188867,156.661013 C376.2256,156.633147 376.26512,156.60756 376.302613,156.580707 C376.4156,156.500653 376.53036,156.42136 376.64816,156.347133 C376.68768,156.321547 376.729227,156.298747 376.76976,156.27392 C376.8906,156.200707 377.014227,156.130533 377.138867,156.06416 C377.206253,156.028693 377.2744,155.992973 377.343813,155.95928 C377.3884,155.937493 377.432733,155.91368 377.478333,155.892907 C377.481373,155.892147 377.48416,155.891133 377.4872,155.889107 C377.38232,156.03452 377.283267,156.189813 377.186493,156.350173 C376.84196,156.9222 376.546067,157.581373 376.308693,158.306667 C375.381493,158.610413 374.56196,159.00916 373.894933,159.482133 C373.901013,159.47124 373.905827,159.459587 373.910893,159.448693 L373.910893,159.448693 Z M383.644467,155.90304 C383.651307,155.905827 383.6584,155.90988 383.66524,155.91292 C383.775947,155.96536 383.883867,156.022613 383.991787,156.08012 C384.09084,156.13256 384.188627,156.1888 384.28464,156.246307 C384.35,156.284813 384.41536,156.323573 384.479707,156.364107 C384.56584,156.418573 384.648933,156.47684 384.732027,156.53536 C384.79916,156.58172 384.86756,156.62732 384.93292,156.67672 C385.01196,156.736253 385.0872,156.798573 385.163453,156.85988 C385.2278,156.91232 385.294173,156.962733 385.357507,157.018213 C385.43452,157.0856 385.50672,157.156787 385.580947,157.22696 C385.754227,157.39036 385.921427,157.559587 386.077733,157.739707 C386.088627,157.75136 386.098507,157.763267 386.108387,157.775173 C386.323213,158.025467 386.52208,158.289693 386.701187,158.56684 C386.707267,158.575707 386.71208,158.584573 386.71816,158.593693 C386.897267,158.873627 387.058387,159.165467 387.2,159.47048 C387.202027,159.47428 387.204053,159.479347 387.205827,159.483147 C386.539053,159.010173 385.71952,158.611427 384.79232,158.30768 C384.554947,157.582133 384.259053,156.923213 383.915533,156.351187 C383.81952,156.190827 383.718693,156.036547 383.6166,155.892147 C383.62572,155.895947 383.6356,155.898987 383.644467,155.90304 L383.644467,155.90304 Z M385.422613,161.938453 C385.390947,161.15768 385.3,160.406547 385.157627,159.698987 C386.517267,160.249227 387.476133,161.037853 387.778867,161.938453 L385.422613,161.938453 Z M383.915533,159.639707 C384.070067,160.354107 384.165067,161.1288 384.197493,161.938453 L381.161547,161.938453 L381.161547,158.895413 C382.113573,158.934933 383.014173,159.065653 383.828387,159.269587 C383.85828,159.391187 383.888933,159.5138 383.915533,159.639707 L383.915533,159.639707 Z M381.161547,157.677133 L381.161547,155.321133 C381.726733,155.51012 382.244293,155.957253 382.687627,156.596667 C382.95464,156.979707 383.194293,157.43292 383.4,157.942373 C382.69244,157.798987 381.941307,157.7088 381.161547,157.677133 L381.161547,157.677133 Z M379.938453,157.677133 C379.159707,157.7088 378.408573,157.798987 377.701013,157.94136 C377.90672,157.431907 378.146373,156.979707 378.412373,156.595653 C378.858747,155.95624 379.37732,155.51012 379.938453,155.32012 L379.938453,157.677133 Z M379.938453,158.895413 L379.938453,161.938453 L376.902507,161.938453 C376.935947,161.1288 377.032973,160.354107 377.187507,159.639707 C377.214107,159.5138 377.24476,159.391187 377.275413,159.269587 C378.087853,159.065653 378.98744,158.934933 379.938453,158.895413 L379.938453,158.895413 Z M375.677387,161.938453 L373.324933,161.938453 C373.625893,161.037853 374.58476,160.249227 375.9444,159.698987 C375.801013,160.406547 375.709053,161.15768 375.677387,161.938453 L375.677387,161.938453 Z M375.677387,163.157493 C375.709053,163.937253 375.8,164.688387 375.9444,165.39696 C374.58476,164.84672 373.625893,164.058093 373.324933,163.157493 L375.677387,163.157493 Z M377.187507,165.45624 C377.032973,164.740827 376.935947,163.967147 376.902507,163.157493 L379.939467,163.157493 L379.939467,166.19952 C378.988453,166.16 378.088867,166.02928 377.275413,165.8256 C377.243747,165.70476 377.214107,165.582147 377.187507,165.45624 L377.187507,165.45624 Z M379.938453,167.418813 L379.938453,169.7738 C379.37732,169.584813 378.858747,169.13768 378.412373,168.49928 C378.147387,168.11624 377.907733,167.663027 377.701013,167.153573 C378.408573,167.29696 379.159707,167.387147 379.938453,167.418813 L379.938453,167.418813 Z M381.161547,167.418813 C381.941307,167.387147 382.69244,167.29696 383.401013,167.153573 C383.195053,167.663027 382.955653,168.11548 382.688387,168.49928 C382.245053,169.138693 381.726733,169.584813 381.16256,169.7738 L381.16256,167.418813 L381.161547,167.418813 Z M381.161547,166.200533 L381.161547,163.157493 L384.198507,163.157493 C384.165827,163.966133 384.070067,164.740827 383.916547,165.45624 C383.888933,165.582147 383.85904,165.70476 383.828387,165.8256 C383.01316,166.030293 382.113573,166.161013 381.161547,166.200533 L381.161547,166.200533 Z M385.422613,163.157493 L387.778867,163.157493 C387.476133,164.058093 386.516253,164.845707 385.157627,165.39696 C385.3,164.688387 385.390947,163.937253 385.422613,163.157493 L385.422613,163.157493 Z" id="assets/ic_universe" sketch:type="MSShapeGroup"></path>
            </g>   
        </symbol>      
        <symbol id="ic_arrow-left" viewBox="0 0 9 15">
            <g transform="translate(-935.000000, -211.000000)">
                <path d="M936.557,217.829v1.557l6.722-6.723
                    l-0.709-0.833l-6.791,6.777l6.672,6.665l0.827-0.721L936.557,217.829z"></path>
            </g> 
        </symbol>      
        <symbol id="ic_arrow-right" viewBox="0 0 9 15">
            <g id="Redlines_x2F_assets_11_" transform="translate(-935.000000, -211.000000)" sketch:type="MSArtboardGroup">
                <path d="M942.52,219.304l0.005-1.556l-6.745,6.7 l0.706,0.835l6.813-6.754l-6.65-6.688l-0.83,0.718L942.52,219.304z"/>
            </g>
        </symbol>      
        <symbol id="btn-part-top" viewBox="0 0 38 5">
            <g transform="translate(-499.000000, -275.000000)">
                <path d="M500,280.00032 C500,277.793446 501.795104,276 504.00047,276 L515.994589,276 L536.311367,276 L536.311366,275 L515.994589,275 L504.00047,275 C501.245263,275 499,277.238719 499,280.00032 L500,280.00032 Z" id="ic_more" sketch:type="MSShapeGroup"></path>
            </g>
        </symbol>      
        <symbol id="instagramm" viewBox="0 0 19 19">
            <g id="Redlines/assets" sketch:type="MSArtboardGroup" transform="translate(-372.000000, -206.000000)">
                <path d="M388.807846,206 L374.192154,206 C372.981345,206 372,206.981345 372,208.192154 L372,222.806846 C372,224.018155 372.981345,225 374.192154,225 L388.807846,225 C390.018655,225 391,224.018155 391,222.806846 L391,208.192154 C391,206.981345 390.018655,206 388.807846,206 L388.807846,206 Z M381.5,211.846077 C383.518181,211.846077 385.153923,213.481819 385.153923,215.5 C385.153923,217.517681 383.518181,219.153923 381.5,219.153923 C379.481819,219.153923 377.846077,217.517681 377.846077,215.5 C377.846077,213.481819 379.481819,211.846077 381.5,211.846077 L381.5,211.846077 Z M388.807846,222.076962 C388.807846,222.479898 388.480898,222.806846 388.076462,222.806846 L374.923538,222.806846 C374.519102,222.806846 374.192154,222.479898 374.192154,222.076962 L374.192154,214.037731 L375.845893,214.037731 C375.725412,214.505657 375.653923,214.99458 375.653923,215.5 C375.653923,218.72899 378.27151,221.346077 381.5,221.346077 C384.72849,221.346077 387.345577,218.72899 387.345577,215.5 C387.345577,214.99458 387.274588,214.505657 387.154107,214.037731 L388.807846,214.037731 L388.807846,222.076962 L388.807846,222.076962 Z M388.807846,211.115692 C388.807846,211.519129 388.480898,211.846077 388.076462,211.846077 L385.884808,211.846077 C385.480871,211.846077 385.153923,211.519129 385.153923,211.115692 L385.153923,208.923038 C385.153923,208.519602 385.480871,208.192154 385.884808,208.192154 L388.076462,208.192154 C388.480898,208.192154 388.807846,208.519602 388.807846,208.923038 L388.807846,211.115692 L388.807846,211.115692 Z" id="assets/ic_instagram" sketch:type="MSShapeGroup"></path>
            </g>
        </symbol>      
        <symbol id="twitter" viewBox="0 0 22 18">
            <g id="Redlines/assets" sketch:type="MSArtboardGroup" transform="translate(-460.000000, -207.000000)">
                <path d="M481.003285,207.324302 C480.146629,207.83171 479.198171,208.200915 478.188843,208.399487 C477.380583,207.538341 476.228564,207 474.954307,207 C472.507075,207 470.522847,208.984228 470.522847,211.43146 C470.522847,211.778712 470.561763,212.116984 470.6376,212.441286 C466.954528,212.256684 463.688559,210.492481 461.503264,207.811254 C461.122084,208.465844 460.903056,209.226706 460.903056,210.038958 C460.903056,211.576149 461.685372,212.932728 462.874312,213.727517 C462.148375,213.704567 461.464847,213.505495 460.867632,213.173709 C460.867133,213.19217 460.867133,213.210131 460.867133,213.22909 C460.867133,215.375968 462.394844,217.167112 464.421482,217.574236 C464.050281,217.675518 463.658624,217.729901 463.253995,217.729901 C462.969108,217.729901 462.691705,217.70246 462.420789,217.650572 C462.984575,219.410782 464.621551,220.692523 466.560377,220.727947 C465.043642,221.916887 463.133255,222.624863 461.056725,222.624863 C460.698995,222.624863 460.346754,222.603908 460,222.562497 C461.960779,223.82029 464.289765,224.55421 466.792876,224.55421 C474.943829,224.55421 479.401233,217.801247 479.401233,211.944855 C479.401233,211.753267 479.397242,211.562179 479.38876,211.371589 C480.254397,210.747433 481.00528,209.966614 481.6,209.078026 C480.804712,209.430268 479.95105,209.668256 479.05448,209.775525 C479.96951,209.227205 480.671998,208.359074 481.003285,207.324302 L481.003285,207.324302 Z" id="assets/ic_twitter" sketch:type="MSShapeGroup"></path>
            </g>
        </symbol>      
        <symbol id="facebook" viewBox="0 0 18 19">
            <g id="Redlines/assets" sketch:type="MSArtboardGroup" transform="translate(-550.000000, -206.000000)" >
                <path d="M567.006597,206 L550.993403,206 C550.444561,206 550,206.469259 550,207.048592 L550,223.951408 C550,224.530741 550.444561,225 550.993403,225 L559.614203,225 L559.614203,217.642477 L557.268655,217.642477 L557.268655,214.774781 L559.614203,214.774781 L559.614203,212.660217 C559.614203,210.205954 561.034206,208.869803 563.108327,208.869803 C564.10173,208.869803 564.955926,208.947749 565.204402,208.982509 L565.204402,211.547372 L563.765939,211.547899 C562.638319,211.547899 562.41978,212.113538 562.41978,212.94409 L562.41978,214.774781 L565.109602,214.774781 L564.759341,217.642477 L562.41978,217.642477 L562.41978,225 L567.006597,225 C567.555439,225 568,224.530741 568,223.951408 L568,207.048592 C568,206.469259 567.555439,206 567.006597,206 L567.006597,206 Z" id="assets/ic_facebook" sketch:type="MSShapeGroup"></path>
            </g>
        </symbol>      
        <symbol id="odnoklassniki" viewBox="0 0 10 17">
            <g id="Redlines/assets" sketch:type="MSArtboardGroup" transform="translate(-654.000000, -207.000000)">
                <path d="M658.999894,215.732354 C661.408474,215.732354 663.366321,213.774008 663.366321,211.366927 C663.366321,208.958846 661.408474,207 658.999894,207 C656.592312,207 654.633966,208.958846 654.633966,211.366927 C654.633966,213.774008 656.592312,215.732354 658.999894,215.732354 L658.999894,215.732354 Z M658.999894,209.558992 C659.997306,209.558992 660.807828,210.370014 660.807828,211.366927 C660.807828,212.36334 659.997306,213.173862 658.999894,213.173862 C658.003981,213.173862 657.192459,212.36334 657.192459,211.366927 C657.192459,210.370014 658.003981,209.558992 658.999894,209.558992 Z M660.766353,219.294256 C661.655829,219.091875 662.512824,218.740082 663.301859,218.243874 C663.899507,217.867097 664.0799,217.077562 663.703122,216.479914 C663.326844,215.881267 662.537809,215.700873 661.939162,216.077651 C660.150716,217.202488 657.847573,217.201988 656.060626,216.077651 C655.461978,215.700873 654.672444,215.881267 654.297165,216.479914 C653.920387,217.078061 654.099781,217.867097 654.697429,218.243874 C655.486964,218.739582 656.343959,219.091875 657.232935,219.294256 L654.791873,221.735317 C654.292667,222.234523 654.292667,223.044546 654.792373,223.544251 C655.042226,223.793604 655.369533,223.918531 655.69634,223.918531 C656.024147,223.918531 656.351954,223.793604 656.601807,223.544251 L658.999394,221.145165 L661.39948,223.544251 C661.898186,224.043957 662.708209,224.043957 663.207914,223.544251 C663.70762,223.044546 663.70762,222.234523 663.207914,221.735317 L660.766353,219.294256 Z" id="assets/ic_ok" sketch:type="MSShapeGroup"></path>
            </g>
        </symbol>           
        <symbol id="fb-letter" viewBox="0 0 8 16">
            <g transform="translate(-747.000000, -208.000000)">
                <path d="M749.214207,223.402602 L749.214207,216.567836 L747,216.567836 L747,213.591477 L749.214207,213.591477 L749.214207,212.099973 C749.214207,209.799556 750.860889,208 752.963311,208 L755.003392,208 L755.003392,211.359762 L753.178283,211.359762 C752.701046,211.359762 752.561315,211.643436 752.561315,212.033487 L752.561315,213.591477 L755.003392,213.591477 L755.003392,216.567836 L752.561315,216.567836 L752.561315,223.402602" id="assets/ic_facbook_letter" sketch:type="MSShapeGroup"></path>
            </g>
        </symbol>       
        <symbol id="play-circle" viewBox="0 0 96 96">
            <path d="M0.961,39.028
                C0.324,42.208,0,45.463,0,48.759c0,3.695,0.407,7.337,1.207,10.88l0.97-0.219c-0.783-3.472-1.182-7.04-1.182-10.662
                c0-3.23,0.317-6.419,0.942-9.536L0.961,39.028z M49.241,98c6.748,0,13.304-1.357,19.373-3.957l-0.391-0.915
                c-5.945,2.547-12.37,3.878-18.982,3.878V98L49.241,98z M87.936,18.304c-4.126-5.236-9.277-9.595-15.128-12.79l-0.477,0.873
                c5.732,3.13,10.78,7.402,14.823,12.533L87.936,18.304L87.936,18.304z"/>
        </symbol>
     
        <symbol id="play-triangle" viewBox="0 0 27 39">
            <g transform="translate(-412.000000, -292.000000)" >
                <path d="M438.091883,311.091883 L412.5,330.183766 L412.5,292 L438.091883,311.091883 Z" ></path>
            </g>
        </symbol>      
        <symbol id="line-curve" viewBox="0 0 38 5">
            <g  transform="translate(-499.000000, -275.000000)">
                <path d="M500,280.00032 C500,277.793446 501.795104,276 504.00047,276 L515.994589,276 L536.311367,276 L536.311366,275 L515.994589,275 L504.00047,275 C501.245263,275 499,277.238719 499,280.00032 L500,280.00032 Z" id="ic_more" sketch:type="MSShapeGroup"></path>
            </g>
        </symbol>      
        <symbol id="open" viewBox="0 0 12 9">
            <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Redlines/assets" sketch:type="MSArtboardGroup" transform="translate(-608.000000, -335.000000)" stroke-linecap="square" stroke="#EBED11">
                    <g id="ic_menu" sketch:type="MSLayerGroup" transform="translate(608.000000, 334.000000)">
                        <path d="M0.5,1.5 L10.5498753,1.5" id="Line" sketch:type="MSShapeGroup"></path>
                        <path d="M0.5,5.5 L10.5498753,5.5" id="Line-Copy" sketch:type="MSShapeGroup"></path>
                        <path d="M0.5,9.5 L10.5498753,9.5" id="Line-Copy-2" sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </g>
        </symbol>       
        <symbol id="close" viewBox="0 0 15 15">
            <g  sketch:type="MSPage">
                <g  transform="translate(-568.000000, -360.000000)">
                    <path d="M574.538404,367.207107 L568.391958,361.06066 L568.038404,360.707107 L568.745511,360 L569.099065,360.353553 L575.245511,366.5 L581.391958,360.353553 L581.745511,360 L582.452618,360.707107 L582.099065,361.06066 L575.952618,367.207107 L582.137469,373.391958 L582.491022,373.745511 L581.783916,374.452618 L581.430362,374.099065 L575.245511,367.914214 L569.06066,374.099065 L568.707107,374.452618 L568,373.745511 L568.353553,373.391958 L574.538404,367.207107 Z" ></path>
                </g>
            </g>
        </symbol>       
        <symbol id="ic_news" viewBox="0 0 15 15">
            <g>
                <g transform="translate(-735.000000, -158.000000)">
                    <g transform="translate(735.000000, 158.000000)">
                        <path d="M0.5,1 L11.5,1 C11.7761424,1 12,0.776142375 12,0.5 C12,0.223857625 11.7761424,0 11.5,0 L0.5,0 C0.223857625,0 0,0.223857625 0,0.5 C0,0.776142375 0.223857625,1 0.5,1 Z M0.5,4 L11.5,4 C11.7761424,4 12,3.77614237 12,3.5 C12,3.22385763 11.7761424,3 11.5,3 L0.5,3 C0.223857625,3 0,3.22385763 0,3.5 C0,3.77614237 0.223857625,4 0.5,4 Z M0.5,7 L11.5,7 C11.7761424,7 12,6.77614237 12,6.5 C12,6.22385763 11.7761424,6 11.5,6 L0.5,6 C0.223857625,6 0,6.22385763 0,6.5 C0,6.77614237 0.223857625,7 0.5,7 Z M0.5,10 L6,10 C6.27614237,10 6.5,9.77614237 6.5,9.5 C6.5,9.22385763 6.27614237,9 6,9 L0.5,9 C0.223857625,9 0,9.22385763 0,9.5 C0,9.77614237 0.223857625,10 0.5,10 Z" sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </g>
        </symbol>        
        <symbol id="laptop" viewBox="0 0 161 94">
            <g >
                <g  transform="translate(-372.000000, -442.000000)" >
                    <path d="M392.748151,515.499214 C393.969352,515.499214 394.960472,514.508094 394.960472,513.286892 L394.960472,446.424643 L510.039528,446.424643 L510.039528,513.286892 C510.039528,514.508094 511.030648,515.499214 512.251849,515.499214 C513.47305,515.499214 514.46417,514.508094 514.46417,513.286892 L514.46417,444.212321 C514.46417,442.99112 513.47305,442 512.251849,442 L392.748151,442 C391.52695,442 390.53583,442.99112 390.53583,444.212321 L390.53583,513.286892 C390.53583,514.508094 391.52695,515.499214 392.748151,515.499214 L392.748151,515.499214 Z M532.159791,520.735041 C531.478396,519.932706 530.460728,519.466643 529.369317,519.466643 L375.627734,519.466643 C374.539272,519.466643 373.521604,519.932706 372.840209,520.735041 C372.158814,521.543276 371.872687,522.622888 372.052622,523.699552 L373.421312,531.808447 C373.751685,533.767088 375.565789,535.303914 377.553928,535.303914 L527.449022,535.303914 C529.434211,535.303914 531.251265,533.767088 531.581638,531.808447 L532.947378,523.696602 C533.127313,522.622888 532.841186,521.543276 532.159791,520.735041 L532.159791,520.735041 Z M527.248438,530.879272 L377.751562,530.879272 L376.574607,523.891286 L528.425393,523.891286 L527.248438,530.879272 L527.248438,530.879272 Z" id="ic_laptop" sketch:type="MSShapeGroup"></path>
                </g>
            </g>
        </symbol> 

