.footer{
    background: $gray;
    position: relative;
    padding-top: 48px;
    padding-bottom: 68px;

    @include brk($max: $xmd) {
       padding-bottom: 20px;
    };


    .t, .title{
        text-transform: uppercase;
        font-size: .87rem;
        font-family: $bold;
        margin-bottom: 14px;
        line-height: 1.2;
    }

    .t{
        @include brk($max: $md) {
            color: $yelow;
        };
    }

    .title{
        @include brk($max: $sm) {
            cursor: pointer;

            &:after{
                display: inline-block;
                content: '';
                width: 0;
                height: 0;
                vertical-align: top;
                border: 4px solid transparent;
                border-top-color: #fff;
                margin: 5px 0 0 5px;
            }

            &.active{
                &:after{
                    border-top-color: transparent;
                    border-bottom-color: $yelow;
                    margin: 0 0 0 5px;
                }

                + ul, ~ .column ul{
                    display: block;
                }
            }
        };
    }

    a{
        text-decoration: none;
        color: #a7a7a7;

        &:hover{
            color: #fff;
        }
    }

    .p{
        color: #a7a7a7;
        font-size: .81rem;
        line-height: 1.2;

        @include brk($max: $xmd) {
            display: none;
        };

    }
}

.foo-top-nav{
    position: relative;
    font-size: 0;

    .column, .column-double{
        display: inline-block;
        vertical-align: top;
        width: 20%;
        padding-right: 3%;
        font-size: .87rem;
        margin-bottom: 6.2%;

        @include brk($max: $md) {
            width: 25%;
        };

        @include brk($max: $sm) {
            width: 100%;
        };

        @include brk($max: $xsm) {
            width: 100%;
        };

        ul{
            @include brk($max: $sm) {
                display: none;
            }
            li{
                margin-bottom: 7px;
                line-height: 1.1;
            }
        }
    }

    .column-double{
        width: 43%;


        @include brk($max: $md) {
            width: 53%;
        };

        @include brk($max: $sm) {
            width: 100%;
        };


        .column{
            width: 49%;
        }
    }
}

.foo-sep{
    height: 1px;
    background: $yelow;
    margin: -2px 0 20px;

    @include brk($max: $md) {
        margin-top: 20px;
    };

}

.foo-bottom-nav{
    margin-bottom: 7px;
    li{
        display: inline-block;
        vertical-align: top;
        font-size:  .81rem;
        margin-right: 13px;
        margin-bottom: 13px;

        @include brk($max: $xmd) {
            display: block;
            margin: 0 0 13px;
        };


        &.disney-copy{
            font-size: .87rem;
            font-family: $bold;
            margin-right: 16px;
        }

        &.sm-copy{
            display: none;

            @include brk($max: $xmd) {
                display: block;

                .p{
                    display: block !important;
                }
            };
        }
    }
}