.header{
    @extend %clear;
    position: relative;
    padding-top: 98px;
    padding-bottom: 24px;
    z-index: 20;

    @include brk($max: $md) {
        padding-top: 30px;
    };


    .logo{
        a{
            @include bg('sw_logo', 'png', 243px, 72px);
            display: block;
            width: 243px;
            height: 72px;

            @include brk($max: $xmd) {
                @include bg('sw_logo', 'png', 109px, 30px);
                background-size: 100% 100%;
                margin: 0 auto 20px;
                width: 109px;
                height: 30px;

            };

        }
    }

    .angle-row{
        overflow: hidden;
        text-align: right;
        height: 28px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 10px;

        .inner{
            display: inline-block;
            height: 28px;
            border-top: 1px solid $yelow;
            border-left: 1px solid $yelow;
            transform: skew(-45deg);
            width: 80px;
            position: relative;

            &:before{
                display: block;
                content: '';
                width: 1920px;
                height: 1px;
                background: $yelow;
                position: absolute;
                bottom: 0;
                right: 100%;
            }
        }
    }
}

.main-nav{
    position: relative;
    padding: 48px 0 0 13px;

    @include brk($max: $md) {
        padding-left: 0;
        padding-top: 65px;
    };



    @include brk($max: $xmd) {
        position: fixed;
        width: 100%;
        height: 100%;
        background: $bg-color;
        left: 0;
        top: 0;
        padding-left: 80px;
        padding-right: 10px;
        display: none;

        &.show{
            display: block;
        }
    };





    .child{
        position: absolute;
        left: 50%;
        top: 100%;
        padding-top: 3px;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;
        transform: translateX(-50%);

        ul{
            background: $yelow;
            padding: 5px 0;
            border-radius: 3px;
            margin: 0;
            list-style-type: none;
            position: relative;
            margin-top: 12px;
            transition: all .2s ease;

            @include brk($max: $xmd) {
                margin: 0;
            }
    
            &:before{
                display: block;
                content: '';
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-bottom-color: $yelow;
                position: absolute;
                left: 50%;
                top: -10px;
                margin: 0 0 0 -5px;
            }
        }


        a{
            color: #000;
            text-transform: uppercase;
            text-decoration: none;
            font-size: .75rem;
            display: block;
            transition: all .2s ease;
            padding: 8px 10px;

            &:hover{
                color: #fff;
                background: $gray;
            }
        }

        li{
            line-height: 1.2;
        }



        @include brk($max: $xmd) {
            position: relative;
            left: auto;
            top: auto;
            bottom: auto;
            right: auto;
            margin: 0;
            width: auto;
            display: none;
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            margin: 20px 0 20px 20px;

            ul{
    
                background: none;
                margin: 0 !important;
                
                &:before{
                    display: none;
                }
                
            }


            a{
                color: #5f5f61;
                text-transform: uppercase;
            }


            &.show{
                display: block;
            }
        };


    }




    .item{
        display: inline-block;
        vertical-align: top;
        position: relative;

        @include brk($max: $xmd) {
            display: block;
            margin: 0;
            border-bottom: 1px solid $gray;

            &:first-child{
                border-top: 1px solid $gray;
            }
        };


        &:first-child{
            margin-left: 0;
        }
    
        .root-item-link{
            @extend %normal;
            font-size: 0.875rem;
            line-height: 122%;
            text-decoration: none;
            color: $root-font-color;
            display: block;
            padding: 9px 10px 8px 10px;
            border-radius: 3px;
            text-transform: uppercase;
            position: relative;
            transition: all .2s ease;
            min-width: 125px;
            text-align: center;

            @include brk($max: $xmd) {
               margin-bottom: 5px;
               margin-top: 5px;
               text-align: left;
               padding-top: 15px;
               padding-bottom: 14px;
            };


            .icon{
                display: inline-block;
                vertical-align: middle;
                line-height: 0;

                svg{
                    transition: fill .2s ease;
                }

                &.ic_universe{
                    margin: -4px 6px 0 0;
                    svg{
                        width: 18px;
                        height: 18px;
                    }
                }
                &.ic_movies{
                    margin: -9px 6px 0 0;
                    svg{
                        width: 20px;
                        height: 21px;
                    }
                }
                &.ic_games{
                    margin: -6px 6px 0 0;
                    svg{
                        width: 26px;
                        height: 16px;
                    }
                }
                &.ic_rebels{
                    margin: -6px 6px 0 0;
                    svg{
                        width: 18px;
                        height: 17px;
                    }
                }
                &.ic_video{
                    margin: -5px 6px 0 0;
                    svg{
                        width: 20px;
                        height: 15px;
                    }
                }
            }
        }

        &.have-child{
            .root-item-link{

                &:after{
                    display: inline-block;
                    vertical-align: top;
                    content: '';
                    width: 0;
                    height: 0;
                    border-width: 5px 4px;
                    border-style: solid;
                    border-color: transparent;
                    border-top-color: #000;
                    transition: fill .2s ease;
                    margin: 6px 0 0 6px;

                    @include brk($max: $xmd) {
                    };
                }
            }
        }

        &.item-universe{
            .root-item-link{
                &:after{
                    border-top-color: $universe-color;
                }
            }    
        }

        &.item-games{
            .root-item-link{
               
                &:after{
                    border-top-color: $games-color;
                }
            }
        }

        &:hover, &.active{
            .root-item-link{
                color: #000;
                background: $yelow;

                &:after{
                    border-top-color: #000;
                }

                .icon{
                    svg{
                        fill: #000;
                    }
                }
            }
        }
        &:hover{
            .child{
                opacity: 1;
                visibility: visible;
                
                ul{
                    margin-top: 7px;
                }
            }
        }
    }
}


.toggle-nav{
    position: absolute;
    left: 8px;
    top: 30px;
    display: none;
    z-index: 20;


    @include brk($max: $xmd) {
        display: block;
    };

    .open, .close{
        width: 32px;
        height: 32px;
        border: 1px solid $yelow;
        border-radius: 100%;
        position: relative;
        cursor: pointer;

        svg{
            width: 13px;
            height: 10px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -5px 0 0 -6px;
        }
    }

    .open{
        svg{
            fill: $yelow;
        }
    }
    .close{
        background: $yelow;

        svg{
            fill: #000;
            width: 8.5px;
            height: 8.5px;
            margin: -4.25px 0 0 -4.25px;
        }
    }

    &.active{

        .open{
            display: none;
        }

        .close{
            display: block;
        }
    }
}