.items-carousel{
    position: relative;

    .thumbnail{
        margin: 0;
        padding: 0;
        position: relative;
    }

    .item-desc{
        font-size: .87rem;
        line-height: 1.2;
        
        .t{
            text-transform: uppercase;
             font-family:  $bold;
        }
    }

    .item-part{
        position: relative;
        margin-bottom: 12px;
    }

}