.main-slider-wrapper{
    overflow: hidden;    
    margin-bottom: 20px;
    position: relative;
}

.main-slider{

    position: relative;
    height: 409px;
    margin-bottom: 50px;
    width: 1024px;
    left: 50%;
    margin-left: -522px;
    background: #000;

    img{
        display: none;
    }

    & > div{
        transform: translate3d(0,0,0);
    }

    .imgLink{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block !important;
        z-index: 2;
        transition: all 1s ease;
        opacity: 0;
        visibility: hidden;

        &[style="display: block;"]{
            opacity: 1;
            visibility: visible;
        }
    }

    .sliderInner {
      overflow: hidden;
      -webkit-transform: rotate(0.000001deg);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }


    .sw-logo{
        position: absolute;
        left: 30px;
        top: 50%;
        margin-top: -50px;
        z-index: 2;

        &.right{
            left: auto;
            right: 30px;
        }

        @include brk($max: $md) {
            top: 30px;
            left: 50% !important;
            right: auto;
            margin-top: 0;
            transform: translateX(-50%);
        };


    }

    .more-row{
        position: absolute;
        bottom: 38px;
        left: 0;
        padding: 0 38px;  
        width: 100%;
        display: block;
        z-index: 3;
        
        &.right{
            text-align: right;
        }


        @include brk($max: $md) {
            text-align: center;
        };

    }

    .more{
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        color: $root-font-color;
        border-bottom: 2px solid  $yelow;
        padding-bottom: 3px;
        font-size: 1.1rem;
        text-decoration: none;
        transition: all .2s ease;

        &:hover{
            border-color: darken($yelow, 20);
        }
    }

    .navBulletsWrapper{
        text-align: center;
        position: absolute;
        bottom: -36px;
        width: 100%;
        left: 0;

        div{
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            transition: all .2s ease;
            border: 1px solid #ebed11;
            border-radius: 100%;
            width: 12px;
            height: 12px;
            margin: 0 3px;
            overflow: hidden;
            position: relative;
            text-indent: -9999px;

            &:after{
                border-radius: 100%;
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                transform: scale(0);
                transition: all .2s ease;                
                background: $yelow;

            }

            &:hover, &.active {
                
                &:after{
                    transform: scale(1);
                }
            }
        }
    }

    .loading{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 1;
        visibility: visible;
        display: block !important;
        transition: opacity .8s ease;

        &[style="display: none;"]{
            opacity: 0;
            visibility: hidden;
        }
    }
}